{% if user.is_authenticated or group %}
  <button id="webpush-subscribe-button" class="btn btn-outline-secondary" {% if group %}data-group="{{ group }}"{% endif %} data-url="{{ webpush_save_url }}">
    <i class="far fa-bell"></i>
    {% if user_have_push %}
      Desactivar Notificaciones
    {% else %}
      Activar Notificaciones
    {% endif %}
  </button>
  <div id="webpush-message" hidden></div>
{% endif %}
