<!doctype html>
<html lang="en">
{% load static %}

<head>
  <!-- Etiquetas Requeridas -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS de Bootstrap -->
  <link rel="stylesheet" href="{% static 'bootstrap-4.4.1/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'tracker/css/progress_wizard.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome-5.12.0/css/all.css' %}">
  <title>Seguimiento de Ordenes</title>
  <style>
    a {
      color: #406753;
      text-decoration: none;
      /*border-bottom: 1px dotted #999;*/
    }

    a:hover {
      color: black;
      border-color: black;
    }

    hr {
      opacity: 0.3;
    }

    h1 {
      /*font-size: 90%;*/
    }

    h3 {
      border-left: 12px solid #f1f1f1;
      text-indent: 1em;
      color: #999;
      margin-top: 2em;
      font-weight: 100;
    }

    ul {
      margin: 0;
      padding: 0.4em;
      list-style-type: square;
    }

    li {
      padding-left: 0.5em;
      line-height: 2.4em;
    }

    code {
      font-family: Monaco, Consolas, "Lucida Console", monospace;
      background-color: #f1f1f1;
      font-size: 90%;
      padding: 4px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    .subdued {
      /*font-size: 90%;*/
      /*opacity: 0.6;*/
    }

    /* A totally custom override */

    .progress-indicator.custom-complex {
      background-color: #f1f1f1;
      padding: 10px 5px;
      border: 1px solid #ddd;
      border-radius: 10px;
    }

    .progress-indicator.custom-complex>li .bubble {
      height: 12px;
      width: 99%;
      border-radius: 2px;
      box-shadow: inset -5px 0 12px rgba(0, 0, 0, 0.2);
    }

    .progress-indicator.custom-complex>li .bubble:before,
    .progress-indicator.custom-complex>li .bubble:after {
      display: none;
    }

    /* Demo for vertical bars */

    .progress-indicator.stepped.stacked {
      width: 48%;
      display: inline-block;
    }

    .progress-indicator.stepped.stacked>li {
      height: 150px;
    }

    .progress-indicator.stepped.stacked>li .bubble {
      padding: 0.1em;
    }

    .progress-indicator.stepped.stacked>li:first-of-type .bubble {
      padding: 0.5em;
    }

    .progress-indicator.stepped.stacked>li:last-of-type .bubble {
      padding: 0em;
    }

    /* Nocenter */

    .progress-indicator.nocenter.stacked>li {
      min-height: 100px;
    }

    .progress-indicator.nocenter.stacked>li span {
      display: block;
    }

    /* Demo for Timeline vertical bars */

    #timeline-speaker-example {
      background-color: #2b4a6d;
      color: white;
      padding: 1em 2em;
      text-align: center;
      border-radius: 10px;
    }

    #timeline-speaker-example .progress-indicator {
      width: 100%;
    }

    #timeline-speaker-example .bubble {
      padding: 0;
    }

    #timeline-speaker-example .progress-indicator>li {
      color: white;
    }

    #timeline-speaker-example .time {
      position: relative;
      left: -80px;
      top: 30px;
      font-size: 100%;
      text-align: right;
      /*opacity: 0.6;*/
      font-weight: 400;
    }

    #timeline-speaker-example .current-time .time {
      font-size: 100%;
      /*opacity: 1;*/
    }

    #timeline-speaker-example .stacked-text {
      top: -50px;
      left: auto;
    }

    #timeline-speaker-example .subdued {
      /*font-size: 90%;*/
      display: block;
    }

    #timeline-speaker-example>li:hover {
      color: #333333;
    }

    #timeline-speaker-example>li:hover .bubble,
    #timeline-speaker-example>li:hover .bubble:before,
    #timeline-speaker-example>li:hover .bubble:after {
      background-color: #ff3d54;
    }

    #timeline-speaker-example .current-time .sub-info {
      /*font-size: 90%;*/
      /*line-height: 0.2em;*/
      text-transform: capitalize;
      /*color: #6988be;*/
    }

    .timeline {
      height: 500px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  </style>
</head>

<body class="bg-light">
  {% comment %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <img src="{% static 'img/logo_mavesa.png' %} " height="20" class="d-inline-block align-top mx-auto">
  </nav>
  {% endcomment %}
  <nav class="navbar shadow-sm bg-light sticky-top mb-3" style="color:#4D4D4D;">
    <a class="navbar-brand">
      Grupo Mavesa
    </a>
  </nav>
  <div class="container">
    <div class="card mb-3 text-white" style="background-color: #2A446E ;border-radius: 10px;">
      <div class="card-body">
        <h5 class="card-title text-center">Orden {{info.noorden}}</h5>
        <p class="card-text">Asesor: {{info.asesor}}</p>
      </div>
    </div>
  </div>
  <div class="container timeline mb-3" style="border-radius: 10px;">
    <div id="timeline-speaker-example">
      <h5>Seguimiento de Servicio en Linea</h5>
      <ul class="progress-indicator stacked dark">
        {% for row in rows %}
        <li class="current-time">
          <span class="time">
            <span class="d-inline-flex text-break mr-3" style="max-width: 140px;">
              <h6>{{row.fecha_hora_ini_oper}}</h6>
            </span>
          </span>
          <span class="bubble"></span>
          <div class="stacked-text">
            <h5>{{row.fase}}</h5>
            <span class="subdued">Detalles</span>
            {% if row.fecha_hora_fin_oper %}
            <span>
              Fin:{{row.fecha_hora_fin_oper}}
            </span>
            {% endif %}
            <span class="sub-info">
              <ul class="ml-3">
                <li>Tecnico: {{row.tecnico}}</li>
              </ul>
            </span>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</body>