<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Seguimiento de Ordenes</title>
	{% load static %}
	<link rel="shortcut icon" href="{% static 'tracker/img/logo_demo.png'%}">

	<style>
		body {
			background-color: #FFFFFF;
		}

		.btn.btn-primary {
			background-color: #122260;
			border-color: #122260;
		}

		.card {
			background-color: #F7F2F1;
			color: #000000;
		}

		.form-control {
			background-color: #FFFFFF;
			border-radius: .40rem ! important;
		}

		.card-round {
			color: #000000;
			border-radius: .90rem ! important;
		}

		.navbar {
			background-color: #FFFFFF;
			color: #000000;
		}

		.navbar-brand {
			padding: 0;
		}
		.list-group {
			height: 245px;
			overflow-y: scroll;
			overflow-x:hidden;
		}
	</style>

</head>

<body>
	<section class="sticky-top mb-3">
		<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
			<img src="{% static 'tracker/img/logo_demo.png' %} " height="40" class="d-inline-block align-top mx-auto">
		</nav>
	</section>
	{% if success %}
	<div class="alert alert-success alert-dismissible fade show bg-success text-light" role="alert">
		<strong>Correo electrónico enviado con éxito!</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}
	{% if warning %}
	<div class="alert alert-warning alert-dismissible fade show bg-danger text-light" role="alert">
		<strong>Debe ingresar un correo electrónico</strong> Campo de correo vacio.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}
	<section>
		<div class="ml-3 mr-3 mb-3">
			<h5 style="color: #000000" class="text-center mb-3"></h5>
			<div class="row">
				<div class="col-md-6 mb-3">
					<div class="card mx-auto card-round bg-light">
						<div class="card-header text-center">
							Ordenes del Dia
						</div>
						<div class="card-body">
							<div class="list-group" id="myList" role="tablist">
								{% for x in query %}
									<a class="list-group-item list-group-item-action {% if forloop.counter == 1 %}active{% endif %}" data-toggle="list" href="#{{ x.placas }}" role="tab">	
										{{ x.no_orden }}
									</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 ">
					<div class="card mx-auto card-round bg-light">
						<div class="card-header text-center">
							Envio de correo
						</div>
						<div class="card-body">
							<div class="tab-content">
								{% for y in query %}
									<div class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{ y.placas }}" role="tabpanel">
										<h6>Número de orden seleccionado: {{y.no_orden}}</h6>
										<form method="POST" enctype="multipart/form-data" autocomplete="off">
											{% csrf_token %}
											<div class="input-group mb-3">
												<input type="text" name="{{ y.no_orden }}" class="form-control mr-2" placeholder="Ingrese un correo electrónico"
													aria-label="Recipient's username" aria-describedby="button-addon2">
												<div class="input-group-append">
													<button class="btn btn-primary rounded" type="submit" id="button-addon2" name >Enviar</button>
												</div>
											</div>
										</form>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	
	
</body>

</html>