<!doctype html>
<html lang="en">
{% load static %}

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'bootstrap-4.4.1/css/bootstrap.min.css' %}">

	<title>Seguimiento de Ordenes</title>
	{% comment %}
	<link rel="shortcut icon" href="{% static 'tracker/img/logo_demo.png'%}">
	{% endcomment %}
	<style>
		body {
			background-color: #FFFFFF;
		}

		.btn.btn-primary {
			background-color: #122260;
			border-color: #122260;
		}

		.card {
			background-color: #F7F2F1;
			color: #000000;
		}

		.form-control {
			background-color: #FFFFFF;
			border-radius: .40rem ! important;
		}

		.card-round {
			color: #000000;
			border-radius: .90rem ! important;
		}

		.navbar {
			background-color: #FFFFFF;
			color: #000000;
		}

		.navbar-brand {
			padding: 0;
		}
	</style>

</head>

<body>
	<section class="sticky-top mb-3">
		<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
			<img src="{% static 'img/logo_citroen.png' %} " height="40" class="d-inline-block align-top mx-auto">
		</nav>
	</section>

	<section>
		<div class="container mx-auto mb-3">
			<h5 style="color: #000000" class="text-center mb-3">Progreso de Orden</h5>
			<div class="row">
				<div class="col-md-6 mx-auto">
					<div class="card mx-auto card-round bg-light">
						<div class="card-header text-center">
							Bienvenido
						</div>
						<div class="card-body">
							<h5 class="card-title"></h5>
							<form method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="input-group mb-3">
									<input type="text" name="order_n" class="form-control mr-2"
										placeholder="Ingrese su número de orden" aria-label="Recipient's username"
										aria-describedby="button-addon2">
									<div class="input-group-append">
										<button class="btn btn-primary rounded" type="submit"
											id="button-addon2">Buscar</button>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'bootstrap-4.4.1/js/bootstrap.min.js' %}"></script>
</body>

</html>