<!doctype html>
<html lang="en">
{% load static %}
<head>
  <!-- Etiquetas Requeridas -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- CSS de Bootstrap -->
  <link rel="stylesheet" href="{% static 'bootstrap-4.4.1/css/bootstrap.min.css' %}">
  
  <link rel="stylesheet" type="text/css" href="{% static 'tracker/css/progress_wizard.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome-5.12.0/css/all.css' %}">

  <title>Seguimiento de Ordenes</title>
  {% comment %}
  <link rel="shortcut icon" href="{% static 'img/logo_citroen.png'%}">
  {% endcomment %}
  <style>
    .accordion {
      background-color: #FFFFFF;
      color: #000000;
      border-radius: .90rem ! important;
    }

    body {
      background-color: #FFFFFF;
    }

    .btn.btn-primary {
      background-color: #122260;
    }

    .footer {
      width: 100%;
      position: fixed;
      bottom: 0px
    }

    .card {
      background-color: #FFFFFF;
      color: #000000;
    }

    .card-round {
      background-color: #FFFFFF;
      color: #000000;
      border-radius: .90rem ! important;
    }

    .card-accordion {}

    .list-group-item {
      background-color: #FFFFFF;
    }

    .navbar {
      color: #000000;
    }

    .navbar-brand {
      padding: 0;
    }

    .barra {
      border-radius: 9px;
    }

    .progress-indicator.custom-complex>li .bubble {
      height: 18px;
      width: 95%;
      border-radius: 10px;
      /*box-shadow: inset -5px 0 12px rgba(0, 0, 0, 0.2); */
    }

    .progress-indicator.custom-complex>li .bubble:before,
    .progress-indicator.custom-complex>li .bubble:after {
      display: none;
    }

    .active {
      color: #122260
    }

    .completed {
      color: #6b9b37
    }

    .inactive {
      color: #8c8c8c;
    }
  </style>
</head>

<body>

  <section class="sticky-top mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <img src="{% static 'img/logo_citroen.png' %} " height="40" class="d-inline-block align-top mx-auto">
    </nav>
  </section>

  <section>
    <div class="barra mx-auto mb-4 text-center">
      <h5 style="color: #000000" class="card-title mb-3">Progreso de Orden</h5>
      <div class=" container row  text-center mx-auto no-gutters">
        <div class="col {{e_recepcion}}">
          <span style="font-size: 1.7em">
            <i class="fas fa-car" id="{{e_recepcion}}"></i>
          </span>
        </div>
        <div class="col {{e_asesor}}">
          <span style="font-size: 1.7em">
            <i class="fas fa-handshake" id="{{e_asesor}}"></i>
          </span>
        </div>
        {% if chips > 1  %}
        {% for n in range %}
        <div class="col completed">
          <span style="font-size: 1.7em">
            <i class="fas fa-tools" id="completed"></i>
          </span>
        </div>
        {% endfor %}
        {% endif %}
        <div class="col {{e_tecnico}}">
          <span style="font-size: 1.7em">
            <i class="fas fa-tools" id="{{e_tecnico}}"></i>
          </span>
        </div>
        <div class="col {{e_lavado}}">
          <span style="font-size: 1.7em">
            <i class="fas fa-shower" id="{{e_lavado}}"></i>
          </span>
        </div>
        <div class="col {{e_entrega}}">
          <span style="font-size: 1.7em">
            <i class="fas fa-check" id="{{e_entrega}}"></i>
          </span>
        </div>
      </div>
      <div class="container mx-auto">
        <ul class="progress-indicator custom-complex">
          <li class="{{e_recepcion}}">
            <!--<a href="#headingOne" >-->
            <span class="bubble"></span>
            Recepción
            <!--</a>-->
          </li>
          <li class="{{e_asesor}}">
            <!--<a href="#headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
            <span class="bubble"></span>
            Asesor
            <!--</a>-->
          </li>
          {% if chips > 1  %}
          {% for operacion in operaciones %}
          <li class="completed" data-toggle="tooltip" data-placement="bottom"
            title="{{ operacion.servicio_capturado }}">
            <span class="bubble"></span>
            Servicio {{ forloop.counter }}
          </li>
          {% endfor %}
          {% endif %}
          <li class="{{e_tecnico}}" data-toggle="tooltip" data-placement="bottom"
            title="{{ details.servicio_capturado }}">
            <!--<a href="#headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
            <span class="bubble"></span>
            Servicio {{chips}}
            <!--</a>-->
          </li>
          <li class="{{e_lavado}}">
            <!--<a>-->
            <span class="bubble"></span>
            Lavado
            <!--</a>-->
          </li>
          <li class="{{e_entrega}}">
            <!--<a>-->
            <span class="bubble"></span>
            Entrega
            <!--</a>-->
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="container mb-2">
      <div class="card-group mx-auto">
        <div class="card card-round bg-light">
          <div class="card-body">
            <h5 class="card-title text-center">Número de Orden: {{ details.no_orden }}</h5>
            <dl>
              <li class="card-text mb-1"><b>Placa: </b> {{ details.placas }} </li>
              <li class="card-text mb-1"><b>Vehículo: </b> {{ details.vehiculo }} </li>
              <li class="card-text mb-1"><b>Recepción: </b> {{details.fecha}} </li>
              <li class="card-text mb-1"><b>Asesor: </b> {{ details.asesor }}</li>
              <li class="card-text mb-1"><b>Entrega: </b> {{ details.hora_promesa }}</li>
            </dl>
          </div>
        </div>
        <div class="card text-white card-round" style="background-color: #122260">
          <div class="card-body">
            <h5 class="card-title text-center">{{serv_actual}}</h5>
            <p align="center">{{m_actual}}</p>
            <p align="center">Si desea comunicarse con nosotros: </p>
            <p align="center">	
              <a href="tel:{{details.telefono_agencia}}">Telefono: {{details.telefono_agencia}}</a>
            </p>
          </div>
          <div class="card-footer">
            <small>Datos Actualizados Hace {{u_actualizacion}}</small>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mb-4">
      <div class="row">
        <div class="col-sm">
          <div class="accordion card-accordion mx-auto" id="accordionExample">
            <div class="card rounded-top card-accordion" style="border-top-radius: 9px;">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <div class="row">
                    <div class="col-sm">
                      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <!-- <span class="badge badge-pill badge-success pull-right">Terminado</span> -->
                        Detalles de Recepción
                      </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <a class="list-group-item">
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">Anfitrión</h6>
                    <small class="text-muted"></small>
                  </div>
                  <p class="mb-1">Fecha De Llegada: {{ details.hora_llegada}}</p>
                </a>
              </div>
            </div>
            <div class="card card-accordion">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    <!-- <span class="badge badge-pill badge-success pull-right">Terminado</span> -->
                    Detalles De Asesor
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <a class="list-group-item">
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1"><b>Asesor de servicio:</b> {{  details.asesor }}</h6>
                    <small class="text-muted"></small>
                  </div>
                  <p class="mb-3"><b>Servicio Capturado: </b>{{details.servicio_capturado}}</p>

                  <div class="container">
                    <div class="row">
                      <div class="mb-2 col-sm">
                        <button type="button" class="btn btn-primary btn-block rounded-pill"
                          onclick="window.location.href='http://cpnetwork.grupomavesa.com.ec:3010/api/ri/inventario/getDocumentoPdf/folio/{{details.id_hd}}/origen/2.pdf'">
                          Ver Orden de Servicio
                        </button>
                      </div>
                      
                      <div class="mb-2 col-sm">
                        <button type="button" class="btn btn-primary btn-block rounded-pill"
                          onclick="window.location.href='http://cpnetwork.grupomavesa.com.ec:3010/api/ri/inventario/getDocumentoPdf/folio/{{details.id_hd}}/origen/3.pdf'">
                          Ver Evidencia Fotográfica
                        </button>
                      </div>
                      
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="card card-accordion">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                    <!-- <span class="badge badge-pill badge-warning pull-right">En Curso</span> -->
                    Detalles De Servicios
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                data-parent="#accordionExample">
                <a class="list-group-item">
                  {% if chips > 1 %}
                  {% for operacion in operaciones %}
                  <div>
                    <h5>Servicio {{ forloop.counter }}</h5>
                    <p class="mb-0"><b>Servicio:</b> {{ operacion.servicio_capturado }}</p>
                    <p class="mb-0"><b>Técnico:</b> {{operacion.tecnico}}</p>
                    <p class="mb-0"><b>Inicio:</b> {{ operacion.inicio_tecnico }}</p>
                    <p class="mb-3"><b>Fin:</b> {{ operacion.fin_tecnico }}</p>
                  </div>
                  {% endfor %}
                  {% endif %}
                  <div>
                    <h5>Último Servicio</h5>
                    <p class="mb-0"><b>Servicio:</b> {{details.servicio_capturado}}</p>
                    <p class="mb-0"><b>Técnico:</b> {{details.tecnico}}</p>
                    <p class="mb-0"><b>Inicio:</b> {{details.inicio_tecnico}}</p>
                    <p class="mb-3"><b>Fin:</b> {{details.fin_tecnico}}</p>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="mb-2 col-md-4 mx-auto">
                        <a type="button" class="btn btn-primary btn-block rounded-pill" href="/calidad_pdf/{{orden.no_orden}}" target="_blank">
                          Revision de Calidad
                        </a>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-light">
    <img src="{% static 'tracker/img/logocn_r.png' %} " height="50" class=" align-center ml-3 mb-3 mt-3">
  </div>

  <!-- JavaScript Opcional -->
  <!-- jQuery primero, despues Popper.js, despues Bootstrap JS -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'bootstrap-4.4.1/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript">
    $(function () {
      $('[data-toggle="tooltip"]').tooltip(
        { container: 'body', trigger: 'hover', placement: "bottom" }
      );
    });
  </script>
  {% load static %}
  <script src="{% static 'tracker/js/pruebablink.js' %}"></script>

</body>

</html>