<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Etiquetas Requeridas -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1/css/bootstrap.min.css' %}">
    <title>Seguimiento de Ordenes</title>
    {% comment %}
    <link rel="shortcut icon" href="{% static 'tracker/img/mazda_icon.png'%}">
    {% endcomment %}
    <style>
        .footer {
            width: 100%;
            position: fixed;
            bottom: 0px;
        }

        .jumbotron {}
    </style>
</head>

<body style="background-color: #EEEFF1">

    <section class="sticky-top mb-3">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFFF">
            <img src="{% static 'img/logo_citroen.png' %} " height="40" class="d-inline-block align-top mx-auto">
        </nav>
    </section>

    <section>
        <div class="jumbotron">
            <h4>La orden solicitada ya no se encuentra en proceso</h4>
            <p class="lead">Le sugerimos que se comuníque con su asesor de servicio</p>
        </div>
    </section>

    <section>
        <div class="footer" style="background-color: #ffffff">
            <img src="{% static 'tracker/img/logocn_r.png' %} " height="50" class=" align-center ml-3 mb-3 mt-3">
        </div>
    </section>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.4.1/js/bootstrap.min.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.8.3.js"
        integrity="sha256-dW19+sSjW7V1Q/Z3KD1saC6NcE5TUIhLJzJbrdKzxKc=" crossorigin="anonymous"></script>-->
</body>