<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap-4.4.1/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome-5.12.0/css/all.css' %}">
  <script src="{% static 'js/jquery-3.4.1.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'bootstrap-4.4.1/js/bootstrap.min.js' %}"></script>
  <title>Capnet | </title>

  <style>
    .switch {
      font-size: 1rem;
      position: relative;
    }

    .switch input {
      position: absolute;
      height: 1px;
      width: 1px;
      background: none;
      border: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      overflow: hidden;
      padding: 0;
    }

    .switch input+label {
      position: relative;
      min-width: calc(calc(2.375rem * 0.8) * 2);
      border-radius: calc(2.375rem * 0.8);
      height: calc(2.375rem * 0.8);
      line-height: calc(2.375rem * 0.8);
      display: inline-block;
      cursor: pointer;
      outline: none;
      user-select: none;
      vertical-align: middle;
      text-indent: calc(calc(calc(2.375rem * 0.8) * 2) + 0.5rem);
    }

    .switch input+label::before,
    .switch input+label::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: calc(calc(2.375rem * 0.8) * 2);
      bottom: 0;
      display: block;
    }

    .switch input+label::before {
      right: 0;
      background-color: #dee2e6;
      border-radius: calc(2.375rem * 0.8);
      transition: 0.2s all;
    }

    .switch input+label::after {
      top: 2px;
      left: 2px;
      width: calc(calc(2.375rem * 0.8) - calc(2px * 2));
      height: calc(calc(2.375rem * 0.8) - calc(2px * 2));
      border-radius: 50%;
      background-color: white;
      transition: 0.2s all;
    }

    .switch input:checked+label::before {
      background-color: #08d;
    }

    .switch input:checked+label::after {
      margin-left: calc(2.375rem * 0.8);
    }

    .switch input:focus+label::before {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
    }

    .switch input:disabled+label {
      color: #868e96;
      cursor: not-allowed;
    }

    .switch input:disabled+label::before {
      background-color: #e9ecef;
    }

    .switch.switch-sm {
      font-size: 0.875rem;
    }

    .switch.switch-sm input+label {
      min-width: calc(calc(1.9375rem * 0.8) * 2);
      height: calc(1.9375rem * 0.8);
      line-height: calc(1.9375rem * 0.8);
      text-indent: calc(calc(calc(1.9375rem * 0.8) * 2) + 0.5rem);
    }

    .switch.switch-sm input+label::before {
      width: calc(calc(1.9375rem * 0.8) * 2);
    }

    .switch.switch-sm input+label::after {
      width: calc(calc(1.9375rem * 0.8) - calc(2px * 2));
      height: calc(calc(1.9375rem * 0.8) - calc(2px * 2));
    }

    .switch.switch-sm input:checked+label::after {
      margin-left: calc(1.9375rem * 0.8);
    }

    .switch.switch-lg {
      font-size: 1.25rem;
    }

    .switch.switch-lg input+label {
      min-width: calc(calc(3rem * 0.8) * 2);
      height: calc(3rem * 0.8);
      line-height: calc(3rem * 0.8);
      text-indent: calc(calc(calc(3rem * 0.8) * 2) + 0.5rem);
    }

    .switch.switch-lg input+label::before {
      width: calc(calc(3rem * 0.8) * 2);
    }

    .switch.switch-lg input+label::after {
      width: calc(calc(3rem * 0.8) - calc(2px * 2));
      height: calc(calc(3rem * 0.8) - calc(2px * 2));
    }

    .switch.switch-lg input:checked+label::after {
      margin-left: calc(3rem * 0.8);
    }

    .switch+.switch {
      margin-left: 1rem;
    }

    .dropdown-menu {
      margin-top: 0.75rem;
    }

    * {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
    }
  </style>
  {% load webpush_notifications %}
  {% webpush_header %}
</head>

<body>
  {% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mb-3">
    <div class="d-flex flex-grow-1">
      <!--<span class="w-100 d-lg-none d-block"></span> -->
      <a class="navbar-brand" href="#">
        Seguimiento en linea |
      </a>
      <div class="w-100 text-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
      <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ordenes' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">KPI'S
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'configuracion' %}">Configuración</a>
        </li>
        <li class="nav-item mr-2">
          {% webpush_button %}
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="btn btn-outline-light" href="{% url 'logout' %}">Cerrar Sesion</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock %}

  {% block content %}
  {% endblock %}
  <script src="{% static 'js/jquery_cookie.js' %}" type="text/javascript"></script>
</body>

</html>