{% extends 'seguimientolite/base.html' %}
{% block navbar %}
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
</nav>
{% endblock%}

{% block content %}

<div class="container mx-auto mb-3 ">
  <div class="card mx-auto" style="max-width: 500px;">
    <div class="card-body">
      <div class="row">
      {% load jfutags %}
      {% jfu 'seguimientolite/upload.html' 'home' origin id_hd  %}
      </div>
      <button type="button" class="btn btn-info" onclick="cerrar()">Cerrar</button>
    </div>
  </div>
</div>
<script>
  function cerrar() {
    window.close();
  }
</script>
{% endblock %}