{% extends 'seguimientolite/base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'js/json2.min.js' %}"></script>
<style>
</style>

<style>
  .container{
    max-width: 1500px;
  }
</style>

<div class="container mx-auto">
  <div class="card bg-white mb-3 shadow">
    <!--<div class="card-header bg-light">Informacion de la Orden</div>-->
    <h5 class="card-header">Informacion de la Orden</h5>
    <div class="row  ml-2 mt-3 mb-3 mr-2">
      <div class="col-md">
        <h5 id="noorden">Orden: {{orden.no_orden}}</h5>
        <p>VIN: {{orden.vin}}</p>
        <p>Cliente: {{orden.cliente}}</p>
      </div>
      <div class="col-md">
        <p>Vehiculo: {{orden.vehiculo}}</p>
        <p>Placa: {{orden.placas}}</p>
        <p>Tecnico: {{orden.tecnico}}</p>
        <p>Fecha Promesa: {{orden.hora_promesa}}</p>
      </div>
      <div class="col mx-auto align-center text-center">
        <div class="row mb-2 mx-auto text-center ">
          Enviar:
          <div class="btn-group ml-1 mr-0 text-center" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" onclick="mail()">
              <i class="fas fa-envelope"></i>
              Correo
            </button>
            <button type="button" onclick="envia()" class="btn btn-success">
              <i class="fab fa-whatsapp"></i>
              Whatsapp
            </button>
          </div>
          {% comment %}
          {% if pdf.nombre_pdf %}
          <div class="btn-group ml-1 mr-0 text-center" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" onclick="mail()">
              <i class="fas fa-envelope"></i>
              Correo
            </button>
            <button type="button" onclick="envia()" class="btn btn-success">
              <i class="fab fa-whatsapp"></i>
              Whatsapp
            </button>
          </div>
          {% else %}
          Aun no se cuenta con la Cotizacion
          {% endif %}
          {% endcomment %}
        </div>
        {% if pdf.nombre_pdf %}
        <button type="button mx-auto" class="btn btn-outline-info btn-block" data-toggle="modal"
          data-target="#cotizacion">
          <i class="fas fa-file-alt"></i>
          Ver Cotizacion
        </button>
        {% endif %}
        <button type="button mx-auto" class="btn btn-outline-info btn-block" data-toggle="modal"
          data-target="#evidencia">
          <i class="fas fa-images"></i>
          Ver Evidencias
        </button>
        <button type="button mx-auto" class="btn btn-outline-info btn-block" onclick="modal()" data-toggle="modal"
          data-target="#firma">
          <i class="fas fa-signature"></i>
          Firma
        </button>
        <a class="btn btn-outline-info btn-block" href="/calidad/{{orden.no_orden}}" target="_blank">
          <i class="fas fa-clipboard-list"></i>
          Inspeccion de Calidad
        </a>
        <a class="btn btn-outline-info btn-block" href="/calidad_pdf/{{orden.no_orden}}" target="_blank">
          <i class="fas fa-file-pdf"></i>
          PDF Calidad
        </a>
      </div>
    </div>
  </div>
  
  {% if cliente %}
  <div class="card mb-3 mx-auto shadow">
    <h5 class="card-header">Respuesta del Cliente</h5>
      <table class='table table-stripped table-hover border table-sm mx-auto table-responsive-md'>
        <thead class="thead-dark">
          <tr class="text-center">
            <th>Ítem</th>
            <th>Refaccion</th>
            <th>Autorizacion</th>
            <th>Hora de Autorizacion</th>
          </tr>
        </thead>
        <tbody>
          {% for fila in cliente %}
          <tr class="text-center">
            <td>
              {% ifchanged %}
              <p>{{fila.item}}</p>
              {% endifchanged %}
            </td>
            <td>
              <p>{{fila.refaccion}}</p>
            </td>
            <td>
              <p>{{fila.autorizacion}}</p>
            </td>
            <td>
              <p>{{fila.fecha_hora_autorizacion}}</p>
            </td>
          {% endfor %}
        </tbody>
      </table>
  </div>
  {% endif %}

  {% if filas_completado %}
  <div class="card mb-3 mx-auto shadow">
    <h5 class="card-header">Previamente Cotizados</h5>
      <table class='table table-stripped table-hover border table-sm mx-auto table-responsive-md'>
        <thead class="thead-dark">
          <tr class="text-center">
            <th>Ítem</th>
            <th>Refaccion</th>
            <th>Precio + IVA</th>
            <th>Existencia</th>
            <th>Localización</th>
            <th>Garantia o Seguro</th>
            <th>RVT</th>
            <th>UT's</th>
            <th>Mano de Obra + IVA</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for fila in filas_completado %}
          <tr class="text-center">
            <td>
              {% ifchanged %}
              <p>{{fila.item}}</p>
              {% endifchanged %}
            </td>
            <td>
              <p>{{fila.refaccion}}</p>
            </td>
            <td>
              <p>{{fila.precio_iva}}</p>
            </td>
            <td>
              <p>{{fila.existencia}}</p>
            </td>
            <td>
              <p>{{fila.localizacion}}</p>
            </td>
            <td>
              {{fila.garantia_seguro}}
            </td>
            <td>
              {{fila.rvt}}
            </td>
            <td>
              {{fila.cantidad_ut}}
            </td>
            <td>
              {{fila.mo_iva}}
            </td>
            <td>
              {{fila.total}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  {% endif %}

  {% if filas %}
  <div class="card mb-3 mx-auto shadow">
    <h5 class="card-header">Por Cotizar</h5>
      <table id="ref" class='table table-stripped table-hover border table-sm table-responsive-md mx-auto'>
        <thead class="thead-dark">
          <tr class="text-center">
            <th>Ítem</th>
            <th>Repuesto</th>
            <th>Precio IVA</th>
            <th>Existencia</th>
            <th>Localización</th>
            <th>Garantia o Seguro</th>
            <th>RVT</th>
            <th>UT's</th>
            <th>MO IVA</th>
            <th>% Desc. MO</th>
            <th>% Desc. Repuesto</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for fila in filas %}
          <tr class="refaccion text-center">
            <td style='max-width: 150px;'>
              {% if fila.estado == 'Inmediato' %}
              <span class="badge badge-pill badge-danger ml-0">Inmediato</span>
              {% endif %}
              {% if fila.estado == 'Recomendado' %}
              <span class="badge badge-pill badge-warning ml-0">Recomendado</span>
              {% endif %}
              {% ifchanged %}
              <p>{{fila.item}}</p>
              {% endifchanged %}
            </td>
            <td style='max-width: 150px;'>
              <p>{{fila.nombre}}</p>
            </td>
            <td class="precio_iva">
              <p>{{fila.precio_iva}}</p>
            </td>
            <td>
              <p>{{fila.existencia}}</p>
            </td>
            <td>
              <p>{{fila.localizacion}}</p>
            </td>
            <td>
              <select id="tecnico" class="custom-select custom-select-sm align-baseline" style="max-width: 130px;">
                <option selected>...</option>
                <option value="Garantia">Garantia</option>
                <option value="Seguro">Seguro</option>
              </select>
            </td>
            <td>
              <select class="custom-select custom-select-sm align-baseline" style="max-width: 130px;">
                <option selected>...</option>
                <option value="Autorizado">Autorizado</option>
                <option value="No Autorizado">No Autorizado</option>
              </select>
            </td>
            <td class="text-center">
              <input class="UTS form-control mx-auto" type="number" value="0" style='max-width: 65px;'></input>
            </td>
            <td class="mo_iva mx-auto"></td>
            <td class="text-center">
              <input class="UTS desc_mo form-control mx-auto" type="number" value="0" style='max-width: 65px;'></input>
            </td>
            <td class="text-center">
              <input class="UTS desc_ref form-control mx-auto" type="number" value="0" style='max-width: 65px;'></input>
            </td>
            <td class="total_ref"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <button type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
  </div>
  {% endif %}

</div>


<div class="modal fade" id="evidencia" tabindex="-1" role="dialog" aria-labelledby="evidencia" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="evidencia">Evidencias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if filas_media %}
        <div class="bd-example">
          <div id="urgente-ev-cap" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for ev in filas_media %}
              <li data-target="#urgente-ev-cap" data-slide-to="5" class=""></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner">
              {% for ev in filas_media %}
              <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" href="/media/{{ev.evidencia}}">
                <img src="/media/{{ev.evidencia}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ev.item}}</h5>
                </div>
              </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#urgente-ev-cap" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#urgente-ev-cap" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        {% endif %}
        {% if filas_video %}
        {% for ev in filas_video %}
        <video class="mx-auto" width="320" height="240" controls>
          <source src="/media/{{ev.evidencia}}">
          Your browser does not support the video tag.
        </video>
        {% endfor %}
        {% endif %}
        
        {% if not filas_media and not filas_video %}
        <h5 class="mx-auto">No hay evidencias disponibles</h5>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="firma" tabindex="-1" role="dialog" aria-labelledby="evidencia" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Firma del Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="min-height: 400px">
        <div class="card sigPad mx-auto">
          <!--<div class="row sigNav">-->
            <a class="btn btn-secondary clearButton" href="#clear">Reintentar</a>
          <!--</div>-->
          <!--<div class="sig sigWrapper mx-auto">-->
            <div class="row">
              <canvas class="pad border mt-3 mb-3 mx-auto shadow " width="350" height="175"></canvas>
            </div>
            <button type="button" class="btn btn-primary mx-auto mb-3" onclick="firmaToImagen()">Guardar</button>
          <!--</div>-->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    var options = {
      defaultAction: "drawIt",
      drawOnly: true,
      
      displayOnly: false
    };
    var api = $('.sigPad').signaturePad(options);
  });

  function modal() {
    $('#firma').modal('handleUpdate');
  }

  function firmaToImagen(){
    var api = $('.sigPad').signaturePad();
    var sig = api.getSignatureImage(); ///encode base 64
    console.log(sig);
    let data = {};
    data.firma = sig;
    $.ajax({
      type: 'post',
      data: data,
      cache: false,
      headers: { "X-CSRFToken": $.cookie('csrftoken') },
      success: function(){  
        alert("Firma Enviada Exitosamente");
      },
      error: function() { 
        alert("Ha Ocurrido Un Error"); 
      },
    });

  };
</script>

<script>
  function agregartd(idtabla) {
    const cuerpo = `<tr>
                      <td><button type="button" class="btn btn-outline-danger btn-sm" onclick="eliminarow()"><i class="fas fa-minus"></i></button></td>
                      <td><input type="text" style='max-width: 100px;'></input></td>
                      <td><input type="text" style='max-width: 100px;'></input></td>
                      <td><input type="text" style='max-width: 100px;'></input></td>
                      <td><input type="text" style='max-width: 100px;'></input></td>
                      <td><input type="text" style='max-width: 100px;'></input></td>
                      <td><input type="text" style='max-width: 100px;'></input></td>
                      <td>
                        <span class="switch switch-sm mt-2">
                          <input type="checkbox" class="switch" value="Autorizado" id="inmediato{{forloop.counter}}">
                          <label for="inmediato{{forloop.counter}}">
                            <h6></h6>
                          </label>
                        </span>
                      </td>
                      <td>
                        <select class="custom-select" style='max-width: 100px;'>
                          <option selected>...</option>
                          <option value="Almacen">Almacen</option>
                          <option value="Planta">Planta</option>
                        </select>
                      </td>
                    </tr>
    `;
    $('#' + idtabla).append(cuerpo); //hace append al codigo de arriba
    var tds = $('#' + idtabla).children('tbody').children('tr').length; //obtiene el numero de tds para modificar el rowspan
    console.log(tds - 1);
    $('#item1').attr('rowspan', tds - 1); //modifica el rowspan
  };

  function eliminarow() {
    $('#ref').on('click', 'button[type="button"]', function (e) {
      $(this).closest('tr').remove();
      var tds = $('#ref').children('tbody').children('tr').length;
      console.log(tds - 1);
      $('#item1').attr('rowspan', tds - 1);
      //elimina el tr mas cercano y recalcula el rowspan
    })
  };

  function guardar() {
    var refacciones = document.getElementsByClassName('refaccion');
    var data = {};
    for (let index = 0; index < refacciones.length; index++) {
      data.item = refacciones[index].getElementsByTagName('td')[0].innerText;
      data.refaccion = refacciones[index].getElementsByTagName('td')[1].innerText;
      data.precio_iva = refacciones[index].getElementsByTagName('td')[2].innerText;
      data.existencia = refacciones[index].getElementsByTagName('td')[3].innerText;
      data.localizacion = refacciones[index].getElementsByTagName('td')[4].innerText;
      data.garantia = refacciones[index].getElementsByTagName('select')[0].value;
      data.rvt = refacciones[index].getElementsByTagName('select')[1].value;
      data.uts = refacciones[index].getElementsByTagName('input')[0].value;
      data.desc_mo = refacciones[index].getElementsByTagName('input')[1].value;
      data.desc_ref = refacciones[index].getElementsByTagName('input')[2].value;
      data.mo_iva = refacciones[index].getElementsByTagName('td')[8].innerText;
      data.total = refacciones[index].getElementsByTagName('td')[11].innerText;
      $.ajax({
        type: 'post',
        data: data,
        cache: false,
        headers: { "X-CSRFToken": $.cookie('csrftoken') },
      });
    }
    alert("Inspeccion Guardada Exitosamente");
    location.reload(forceGet=true);
  };

  $(document).ready(function(){
  //iterate through each textboxes and add keyup
  //handler to trigger sum event
  $("#ref .UTS").each(function(index){
    $(this).keyup(function(){
      let row = this.closest('tr')

      let desc_ref = parseFloat(row.getElementsByClassName('desc_ref')[0].value)/100;
      let desc_mo = parseFloat(row.getElementsByClassName('desc_mo')[0].value)/100;

      let precio_iva = parseFloat(row.getElementsByClassName("precio_iva")[0].innerText);
      let uts = parseFloat(row.getElementsByTagName("input")[0].value);
      let mo = parseFloat(uts * {{precio_ut}});
      let mo_iva = parseFloat(mo * {{iva}});
      let total_ref = (mo_iva - (mo_iva*desc_mo)) + (precio_iva - (precio_iva*desc_ref));
      row.getElementsByClassName("mo_iva")[0].innerText = mo_iva.toFixed(2);
      row.getElementsByClassName("total_ref")[0].innerText = total_ref.toFixed(2);
      //console.log(sum);
    });
  });
  });


  function envia() {
    var agencia = ("Citröen Mavesa");
    var orden = {{ orden.no_orden }};

    direccion_publica = ("http://cpnetwork.grupomavesa.com.ec:3001/cliente/"); //direccion desde la cual entrarán los clientes
    telefono = (""); //en lugar de this.dataset.telefono vendrá el telefono cel del cliente registrado eb la oorden, si no hay no hay problema
    mensaje = (agencia + " le ofrece consultar el progreso de su vehiculo en la siguiente direccion: " + direccion_publica + orden); //sustituir this.dataset.orden por la etiqueta de jinja
    //parte añadida para envío de seguimiento de ordenes en línea desde tablero estados (order tracking) 
    var cel = prompt("Por favor introduzca un número de telefono, si el teléfono que aparece es correcto, de click en aceptar, de lo contrario modifíquelo", telefono);

    if (cel == null || cel == "") {
      location.reload();
    } else {
      url = ("https://api.whatsapp.com://send?phone=+593" + cel + "&text=" + mensaje);
      window.open(url, '_blank');
    }
    data = {};
    data.metodo = 'WhatsApp';
    data.telefono = cel;
    $.ajax({
      type: 'post',
      data: data,
      cache: false,
      headers: { "X-CSRFToken": $.cookie('csrftoken') },
    });
  }

  function mail() {
    correo = ("");
    var mail = prompt("Por favor introduzca una direccion de correo electronico", correo);
    if (mail == null || mail == "") {
      location.reload();
    } else {
      var data = {};
      data.metodo = 'E-Mail'
      data.mail = mail;
      $.ajax({
        type: 'post',
        data: data,
        cache: false,
        headers: { "X-CSRFToken": $.cookie('csrftoken') },
        success: alert('Correo Enviado'),
      });
    }
  }


</script>
{% endblock %}