{% extends 'seguimientolite/base.html' %}
  {% block content %}
    <div class="container mx-auto">
      <div class="card mb-3">
        <div class="card-header text-dark bg-light">
          Configuración
        </div>
      </div>
    </div>
  {% endblock %}