{% extends 'seguimientolite/base.html' %}
{% block content %}
<div class="container mx-auto">
  <div class="card bg-white mb-3">
    <div class="card-header bg-light">Informacion de la Orden</div>
    <div class="row  ml-2 mt-2 mr-2">
      <div class="col">
        <h5 id="noorden">Orden: {{orden.no_orden}}</h5>
        <h6>VIN: {{orden.vin}}</h6>
        <h6>Cliente: {{orden.cliente}}</h6>
      </div>
      <div class="col">
        <p>Vehiculo: {{orden.vehiculo}}</p>
        <p>Placa: {{orden.placas}}</p>
        <p>Tecnico: {{orden.tecnico}}</p>
        <p>Fecha Promesa: {{orden.hora_promesa}}</p>
      </div>
      <div class="col mx-auto align-center text-center">
        <div class="row mb-5 mx-auto text-center ">
          Enviar:
          <div class="btn-group ml-1 mr-0 text-center" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" onclick="mail()">
              <i class="fas fa-envelope"></i>
              Correo
            </button>
            <button type="button" onclick="envia()" class="btn btn-success">
              <i class="fab fa-whatsapp"></i>
              Whatsapp
            </button>
          </div>
          {% comment %}
          {% if pdf.nombre_pdf %}
          <div class="btn-group ml-1 mr-0 text-center" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info" onclick="mail()">
              <i class="fas fa-envelope"></i>
              Correo
            </button>
            <button type="button" onclick="envia()" class="btn btn-success">
              <i class="fab fa-whatsapp"></i>
              Whatsapp
            </button>
          </div>
          {% else %}
          Aun no se cuenta con la Cotizacion
          {% endif %}
          {% endcomment %}
        </div>
        {% if pdf.nombre_pdf %}
        <button type="button mx-auto" class="btn btn-outline-info btn-block" data-toggle="modal"
          data-target="#cotizacion">
          <i class="fas fa-file-alt"></i>
          Ver Cotizacion
        </button>
        {% endif %}
        <button type="button mx-auto" class="btn btn-outline-info btn-block" data-toggle="modal"
          data-target="#evidencia">
          <i class="fas fa-images"></i>
          Ver Evidencias
        </button>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <table class="table table-sm table-stripped table-hover mx-auto">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Estado</th>
          <th scope="col">Comentarios</th>
        </tr>
      </thead>
      <tbody>
        {% for fila in filas %}
        <tr>
          <td>
            <p>{{fila.item}}</p>
          </td>
          <td>
            <p>{{fila.estado}}</p>
          </td>
          <td>
            <p>{{fila.comentarios}}</p>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="cotizacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles De Cotización: {{orden.no_orden}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if pdf.nombre_pdf %}
        <iframe src="/media/{{pdf.nombre_pdf}}" width="100%" height="400px">
        </iframe>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="evidencia" tabindex="-1" role="dialog" aria-labelledby="evidencia" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="evidencia">Evidencias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if filas_media %}
        <div class="bd-example">
          <div id="urgente-ev-cap" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for ev in filas_media %}
              <li data-target="#urgente-ev-cap" data-slide-to="0" class=""></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner">
              {% for ev in filas_media %}
              <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" href="/media/{{ev.evidencia}}">
                <img src="/media/{{ev.evidencia}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ev.item}}</h5>
                </div>
              </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#urgente-ev-cap" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#urgente-ev-cap" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        {% endif %}
        {% if filas_video %}
        {% for ev in filas_video %}
        <video class="mx-auto" width="320" height="240" controls>
          <source src="/media/{{ev.evidencia}}">
          Your browser does not support the video tag.
        </video>
        {% endfor %}
        {% endif %}
        
        {% if not filas_media and not filas_video %}
        <h5 class="mx-auto">No hay evidencias disponibles</h5>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<script>
  function envia() {
    var agencia = ("NOMBRE DE LA AGENCIA");
    var orden = {{ orden.no_orden }};

    direccion_publica = ("https://protonlens.ddns.net:8010/cotizacion/"); //direccion desde la cual entrarán los clientes
    telefono = (""); //en lugar de this.dataset.telefono vendrá el telefono cel del cliente registrado eb la oorden, si no hay no hay problema
    mensaje = (agencia + " le ofrece consultar el progreso de su vehiculo en la siguiente direccion: " + direccion_publica + orden); //sustituir this.dataset.orden por la etiqueta de jinja
    //parte añadida para envío de seguimiento de ordenes en línea desde tablero estados (order tracking) 
    var cel = prompt("Por favor introduzca un número de telefono, si el teléfono que aparece es correcto, de click en aceptar, de lo contrario modifíquelo", telefono);

    if (cel == null || cel == "") {
      location.reload();
    } else {
      url = ("https://api.whatsapp.com://send?phone=+52" + cel + "&text=" + mensaje);
      window.open(url, '_blank');
    }
    data = {};
    data.metodo = 'WhatsApp';
    data.telefono = cel;
    $.ajax({
      type: 'post',
      data: data,
      cache: false,
      headers: { "X-CSRFToken": $.cookie('csrftoken') },
    });
  }

  function mail() {
    correo = ("");
    var mail = prompt("Por favor introduzca una direccion de correo electronico", correo);
    if (mail == null || mail == "") {
      location.reload();
    } else {
      var data = {};
      data.metodo = 'E-Mail'
      data.mail = mail;
      $.ajax({
        type: 'post',
        data: data,
        cache: false,
        headers: { "X-CSRFToken": $.cookie('csrftoken') },
      });
    }
  }



</script>
{% endblock %}