{% extends 'seguimientolite/base.html' %}
{% block content %}
{% load static %}
<div class="container mx-auto">
  <div class="card mb-3 mx-auto">
    <div class="card-body">
      <h5>Orden de Servicio: {{orden.no_orden}}</h5>
      <h6>Placa: {{orden.placas}}</h6>
      <h6>VIN: {{orden.vin}}</h6>
      <h6>Asesor: {{orden.asesor}}</h6>
      <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-clipboard-list fa-lg mr-1"></i>
        Agregar Cotizacion
      </button>
      <button type="button mx-auto" class="btn btn-outline-info" data-toggle="modal"
        data-target="#evidencia">
        <i class="fas fa-images"></i>
        Ver Evidencias
      </button>
    </div>
  </div>
  <div class="card mb-3 mx-auto">
    <div class="card-body">
      <table class="table table-stripped table-hover mx-auto">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Estado</th>
            <th scope="col">Comentarios</th>
          </tr>
        </thead>
        <tbody>
          {% for fila in filas %}
          <tr>
            <td>
              <p>{{fila.item}}</p>
            </td>
            <td>
              <p>{{fila.estado}}</p>
            </td>
            <td>
              <p>{{fila.comentarios}}</p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mb-3 mx-auto">
    <div class="card-body">
      <table class="table table-stripped table-hover mx-auto">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Numero de MO</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Descripcion 2</th>
            <th scope="col">Cantidad de UT</th>
            <th scope="col">Precio de Venta</th>
            <th scope="col">Monto</th>
            <th scope="col">Monto + IVA</th>
          </tr>
        </thead>
        <tbody>
          {% for refaccion in refacciones %}
          <tr>
            <td>
              <p>{{refaccion.no_field}}</p>
            </td>
            <td>
              <p>{{refaccion.description}}</p>
            </td>
            <td>
              <p>{{refaccion.description_2}}</p>
            </td>
            <td>
              <p>{{refaccion.quantity}}</p>
            </td>
            <td>
              <p>{{refaccion.unit_price}}</p>
            </td>
            <td>
              <p>{{refaccion.amount}}</p>
            </td>
            <td>
              <p>{{refaccion.amount_including_vat}}</p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
<!-- Modal Cotizacion -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles De Cotización: {{orden.no_orden}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="input-group mb-3">
            <div class="custom-file">
              <input name="pdf" type="file" class="custom-file-input" accept="application/pdf, application/vnd.ms-excel"
                id="inputGroupFile02">
              <label class="custom-file-label" data-browse="Elegir Archivo" for="inputGroupFile02"
                aria-describedby="inputGroupFileAddon02">Ningun Archivo Seleccionado</label>
            </div>
            <div class="input-group-append">
              <button class="btn btn-outline-info" type="submit" id="inputGroupFileAddon04">Guardar</button>
            </div>
            <script>
              $('#inputGroupFile02').on('change', function () {
                //get the file name
                var fileName = $(this).val().replace('C:\\fakepath\\', " ");
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
              })
            </script>
          </div>
        </form>
        {% if pdf.nombre_pdf %}
        <iframe src="/media/{{pdf.nombre_pdf}}" width="100%" height="400px">
        </iframe>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Evidencia-->
<div class="modal fade" id="evidencia" tabindex="-1" role="dialog" aria-labelledby="evidencia" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="evidencia">Evidencias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if filas_media %}
        <div class="bd-example">
          <div id="urgente-ev-cap" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for ev in filas_media %}
              <li data-target="#urgente-ev-cap" data-slide-to="0" class=""></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner">
              {% for ev in filas_media %}
              <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" href="/media/{{ev.evidencia}}">
                <img src="/media/{{ev.evidencia}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ev.item}}</h5>
                </div>
              </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#urgente-ev-cap" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#urgente-ev-cap" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        {% else %}
        {% if filas_video %}
        {% for ev in filas_video %}
        <video class="mx-auto" width="320" height="240" controls>
          <source src="/media/{{ev.evidencia}}">
          Your browser does not support the video tag.
        </video>
        {% endfor %}
        {% endif %}
        
        {% if not filas_media and not filas_video %}
        <h5 class="mx-auto">No hay evidencias disponibles</h5>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}