{% extends 'seguimientolite/base.html' %}
{% block content %}
{% load static %}
<div class="container mx-auto">
  <div class="card mb-3 mx-auto">
    <table class="table table table-hover mx-auto">
      <thead class="thead-dark text-center">
        <tr>
          <th scope="col">Fecha Ingreso</th>
          <th scope="col">Orden</th>
          <th scope="col">VIN</th>
          <th scope="col">Placas</th>
          <th scope="col">Vehículo</th>
          <th scope="col">Asesor</th>
          <th scope="col">Tecnico</th>
        </tr>
      </thead>
      <tbody>
        {% for fila in filas %}
        <tr>
          <td>{{fila.fecha_ingreso}}</td>
          <td>
          <a role="button" href="{{fila.no_orden}}" class="btn btn-link">{{fila.no_orden}}</button>
          </td>
          <td>{{fila.vin}}</td>
          <td>{{fila.placas}}</td>
          <td>{{fila.vehiculo}}</td>
          <td>{{fila.asesor}}</td>
          <td>{{fila.tecnico}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  {% endblock %}