{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-5.12.0/css/all.css' %}">

    <title>Capnet | Inicio de Sesion</title>

    <style>
      body{
        /*background-image: url('https://www.bmw.com.mx/content/dam/bmw/marketMX/bmw_com_mx/public_pools/teaser_pool/home/GAMA-1682%20X-756.jpg/_jcr_content/renditions/cq5dam.resized.img.1680.large.time1564515134479.jpg');*/
        background-size: inherit;
      }
      .switch {
        font-size: 1rem;
        position: relative;
      }
      .switch input {
        position: absolute;
        height: 1px;
        width: 1px;
        background: none;
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
        padding: 0;
      }
      .switch input + label {
        position: relative;
        min-width: calc(calc(2.375rem * 0.8) * 2);
        border-radius: calc(2.375rem * 0.8);
        height: calc(2.375rem * 0.8);
        line-height: calc(2.375rem * 0.8);
        display: inline-block;
        cursor: pointer;
        outline: none;
        user-select: none;
        vertical-align: middle;
        text-indent: calc(calc(calc(2.375rem * 0.8) * 2) + 0.5rem);
      }
      .switch input + label::before,
      .switch input + label::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: calc(calc(2.375rem * 0.8) * 2);
        bottom: 0;
        display: block;
      }
      .switch input + label::before {
        right: 0;
        background-color: #dee2e6;
        border-radius: calc(2.375rem * 0.8);
        transition: 0.2s all;
      }
      .switch input + label::after {
        top: 2px;
        left: 2px;
        width: calc(calc(2.375rem * 0.8) - calc(2px * 2));
        height: calc(calc(2.375rem * 0.8) - calc(2px * 2));
        border-radius: 50%;
        background-color: white;
        transition: 0.2s all;
      }
      .switch input:checked + label::before {
        background-color: #08d;
      }
      .switch input:checked + label::after {
        margin-left: calc(2.375rem * 0.8);
      }
      .switch input:focus + label::before {
        outline: none;
        box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
      }
      .switch input:disabled + label {
        color: #868e96;
        cursor: not-allowed;
      }
      .switch input:disabled + label::before {
        background-color: #e9ecef;
      }
      .switch.switch-sm {
        font-size: 0.875rem;
      }
      .switch.switch-sm input + label {
        min-width: calc(calc(1.9375rem * 0.8) * 2);
        height: calc(1.9375rem * 0.8);
        line-height: calc(1.9375rem * 0.8);
        text-indent: calc(calc(calc(1.9375rem * 0.8) * 2) + 0.5rem);
      }
      .switch.switch-sm input + label::before {
        width: calc(calc(1.9375rem * 0.8) * 2);
      }
      .switch.switch-sm input + label::after {
        width: calc(calc(1.9375rem * 0.8) - calc(2px * 2));
        height: calc(calc(1.9375rem * 0.8) - calc(2px * 2));
      }
      .switch.switch-sm input:checked + label::after {
        margin-left: calc(1.9375rem * 0.8);
      }
      .switch.switch-lg {
        font-size: 1.25rem;
      }
      .switch.switch-lg input + label {
        min-width: calc(calc(3rem * 0.8) * 2);
        height: calc(3rem * 0.8);
        line-height: calc(3rem * 0.8);
        text-indent: calc(calc(calc(3rem * 0.8) * 2) + 0.5rem);
      }
      .switch.switch-lg input + label::before {
        width: calc(calc(3rem * 0.8) * 2);
      }
      .switch.switch-lg input + label::after {
        width: calc(calc(3rem * 0.8) - calc(2px * 2));
        height: calc(calc(3rem * 0.8) - calc(2px * 2));
      }
      .switch.switch-lg input:checked + label::after {
        margin-left: calc(3rem * 0.8);
      }
      .switch + .switch {
        margin-left: 1rem;
      }

      .dropdown-menu {
        margin-top: 0.75rem;
      }
    </style>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mb-3">
      <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand text-left" href="#">
          Seguimiento en linea
        </a>
      </div>
    </nav>

    <div>
      <div class="row mt-3">
        <div class="col-md-6 mt-3 mx-auto">
          <div class="card bg-white mb-3">
            <div class="card-header bg-light">Bienvenido</div>
            <div class="card-body">
              <h2></h2>
              <form method="post">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form|crispy }}
                <button class="btn btn-info" type="submit">Iniciar sesion</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.4.1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.min.js' %}"></script>
  </body>
</html>