{% extends 'seguimientolite/base.html' %}
{% block content %}
<div class="container mx-auto">
  <div class="row mb-3">
    <div class="col-md-5">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Buscar:</span>
        </div>
        <input type="text" onkeyup="buscador()" placeholder="Buscar por Orden|Placas" id="buscadorAsesor"
          class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    {% comment %}
    <div class="col-md-3">
      <div class="input-group mb-2">
        <span class="switch switch-sm mt-2">
          <input type="checkbox" class="switch" id="switch-sm">
          <label for="switch-sm">
            <h6>Solo Vehiculos En Taller</h6>
          </label>
        </span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Seleccionar Por Fecha</span>
        </div>
        <input id="date" class="form-control" type="date">
      </div>
    </div>
    {% endcomment %}
  </div>

  <div class="card mb-3">
    <table id="tablaOrdenes" class="table table-sm table-hover table-responsive-md mx-auto">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Orden</th>
          <th scope="col">Placas</th>
          <th scope="col">Asesor</th>
          <th scope="col">Fecha Ingreso</th>
          <th scope="col">Revisión</th>
          <th scope="col">Estado</th>
          <th scope="col">Visitas</th>
          <th scope="col">Respuesta</th>
          <th scope="col">Chat</th>
        </tr>
      </thead>
      <tbody>
        {% for fila in filas %}
        <tr>
          <td>
            <a role="button" href="{{fila.no_orden}}" class="btn btn-link">{{fila.no_orden}}</button>
          </td>
          <td>{{fila.placas}}</td>
          <td>{{fila.asesor}}</td>
          <td>{{fila.fecha_ingreso}}</td>
          <td>{{fila.fecha_hora_fin_refacciones}}</td>
          <td>{{fila.estado}}</td>
          <td>{{fila.visitas}}</td>
          <td>{{fila.respuesta}}</td>
          <td>
            <a class="btn btn-outline-info" href="#" role="button">
              <i class="fas fa-comments"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>



<script>
  function buscador() {
    var input, filter, table, tr, td, i, txtValue, td1, txtValue2;
    input = document.getElementById("buscadorAsesor");
    filter = input.value.toUpperCase();
    table = document.getElementById("tablaOrdenes");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      td1 = tr[i].getElementsByTagName("td")[1];
      if (td || td1) {
        txtValue = td.textContent || td.innerText;
        txtValue2 = td1.textContent || td1.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
{% endblock %}