{% extends 'seguimientolite/base.html' %}
{% block content %}
<div class="container mx-auto">
  <div class="card bg-white mb-3">
    <div class="card-header bg-light">Informacion de la Orden</div>
    <div class="card-body">
      <h5>Placas: {{orden.placas}}</h5>
    </div>
    <div class="row  ml-2 mt-2 mr-2">
      {% if orden.no_orden or orden.vin or orden.cliente %}
      <div class="col">
        {% if orden.no_orden %}
        <p id="noorden">Orden: {{orden.no_orden}}</p>
        {% endif %}
        {% if orden.vin %}
        <p>VIN: {{orden.vin}}</p>
        {% endif %}
        {% if orden.cliente %}
        <p>Cliente: {{orden.cliente}}</p>
        {% endif %}
      </div>
      {% else %}
      {% endif %}
      <div class="col">
        <p>Vehiculo: {{orden.vehiculo}}</p>
        <p>Tecnico: {{orden.tecnico}}</p>
      </div>
      <div class="col mx-auto align-center text-center">
        <div class="row mb-5 mx-auto text-center ">
          Enviar:
          {% if pdf.nombre_pdf %}
          <div class="btn-group ml-1 mr-0 text-center" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info">
              <i class="fas fa-envelope"></i>
              Correo
            </button>
            <button type="button" onclick="envia()" class="btn btn-success">
              <i class="fab fa-whatsapp"></i>
              Whatsapp
            </button>
          </div>
          {% else %}
          Aun no se cuenta con la Cotizacion
          {% endif %}
        </div>
        {% if pdf.nombre_pdf %}
        <button type="button mx-auto" class="btn btn-outline-info btn-block" data-toggle="modal"
          data-target="#cotizacion">
          <i class="fas fa-file-alt"></i>
          Ver Cotizacion
        </button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <table class="table table-sm table-stripped table-hover mx-auto" id="tablacont">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Estado</th>
          <th scope="col">Comentarios</th>
          <th scope="col" class="text-center">Evidencia</th>
          <th scope="col" class="text-center">Autorizacion</th>
          <th scope="col" class="text-center">Mano de Obra</th>
          <th scope="col" class="text-center">Refacciones</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody id="item-rows">
        {% for fila in filas %}
        <tr>
          <td>
            <p>{{fila.item}}</p>
          </td>
          <td>
            <p>{{fila.estado}}</p>
          </td>
          <td>
            <p>{{fila.comentarios}}</p>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-outline-info mx-auto" data-toggle="modal"
              data-target="#item{{ forloop.counter }}">
              <i class="fas fa-clipboard-list fa-lg mr-1"></i>
            </button>
          </td>
          <td class="text-center">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-danger btn-sm">
                <input type="radio" name="options{{ forloop.counter }}" autocomplete="off" value="No Autorizado">
                No Autorizado
              </label>
              <label class="btn btn-success btn-sm">
                <input type="radio" name="options{{ forloop.counter }}" autocomplete="off" value="Autorizado">
                Autorizado
              </label>
            </div>
          </td>
          <td class="text-center">
            <input autocomplete="off" name="mano_de_obra{{ forloop.counter }}" type="text" style="max-width: 90px;"
              id="mano_de_obra{{ forloop.counter }}" class="form-control mx-auto">
          </td>
          <td>
            <input autocomplete="off" name="refacciones{{ forloop.counter }}" type="text" style="max-width: 90px;"
              id="repuestos{{ forloop.counter }}" class="form-control mx-auto">
          </td>
          <td id="total{{ forloop.counter }}">
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
  </div>
</div>

<div class="modal fade" id="cotizacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles De Cotización: {{orden.no_orden}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if pdf.nombre_pdf %}
        <iframe src="/media/{{pdf.nombre_pdf}}" width="100%" height="400px">
        </iframe>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="evidencia" tabindex="-1" role="dialog" aria-labelledby="evidencia" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="evidencia">Evidencias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for item in filas_media %}
        <a href="/media/{{item.evidencia}}">
          <img src="/media/{{item.evidencia}}" style="width:100px;height:100px;border:0;">
        </a>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<script>
  function envia() {

    var agencia = ("NOMBRE DE LA AGENCIA");
    var orden = {{ orden.no_orden }};

  direccion_publica = ("https://protonlens.ddns.net:8010/cotizacion/"); //direccion desde la cual entrarán los clientes
  telefono = (""); //en lugar de this.dataset.telefono vendrá el telefono cel del cliente registrado eb la oorden, si no hay no hay problema
  mensaje = (agencia + " le ofrece consultar el progreso de su vehiculo en la siguiente direccion: " + direccion_publica + orden); //sustituir this.dataset.orden por la etiqueta de jinja
  //parte añadida para envío de seguimiento de ordenes en línea desde tablero estados (order tracking)
  var cel = prompt("Por favor introduzca un número de telefono, si el teléfono que aparece es correcto, de click en aceptar, de lo contrario modifíquelo", telefono);
  if (cel == null || cel == "") {
    location.reload();
  }
  else {
    url = ("https://api.whatsapp.com://send?phone=+52" + cel + "&text=" + mensaje);
    window.open(url, '_blank');
  }
  };

  function guardar() {
    var data = {};
    var items = document.getElementById("item-rows").getElementsByTagName("tr");
    //console.log(items[i].getElementsByTagName("input")[0].value);
    for (let i = 0; i < items.length; i++) {
      if (items[i].getElementsByTagName("input")[0].checked) {
        data.autorizacion = items[i].getElementsByTagName("input")[0].value;
      } 
      if (items[i].getElementsByTagName("input")[1].checked){
        data.autorizacion = items[i].getElementsByTagName("input")[1].value;
      }
      data.mano_de_obra = items[i].getElementsByTagName("input")[2].value;
      data.refacciones = items[i].getElementsByTagName("input")[3].value;
      data.item = items[i].getElementsByTagName("td")[0].innerText;
      data.estado = items[i].getElementsByTagName("td")[1].innerText;
      data.comentarios = items[i].getElementsByTagName("td")[2].innerText;
      $.ajax({
        type: 'post',
        data: data,
        cache: false,
        headers: { "X-CSRFToken": $.cookie('csrftoken') },
      });
    }
    alert("Inspeccion Guardada Exitosamente");
  };

  $(document).ready(function(){
  //iterate through each textboxes and add keyup
  //handler to trigger sum event
  $("#tablacont tr").each(function(index){
        $(this).keyup(function(){
          var sum = 0;
          mano_de_obra = parseFloat((this).getElementsByTagName("input")[2].value);
          ref = parseFloat((this).getElementsByTagName("input")[3].value);
          sum = parseFloat(mano_de_obra + ref);
          (this).getElementsByTagName("td")[7].innerText = sum;
          //console.log(sum);
        });
  });
  });

</script>
{% endblock %}