{% extends 'seguimientolite/base.html' %}

{% block navbar %}
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Revisión Previa</a>
</nav>
{% endblock %}

{% block content %}
<div class="container mx-auto mb-3">
  <div class="card">
    <div class="card-body">
      <h5>Placas: {{placas}}</h5>
      <div class="row mx-auto">
        <div class="col-2">
          <p class="align-baseline">Asesor: {{info.asesor}}</p>
        </div>
        <div class="col-2">
          <p class="align-baseline">VIN: {{info.vin}}</p>
        </div>
        <div class="col">
          <div class="align-baseline">Tecnico:
            <select id="tecnico" class="custom-select custom-select-lg align-baseline" style="max-width: 200px;">
              {% for tecnico in lista_tecnicos %}
              <option {% if forloop.counter == 1 %} selected {% endif %}> {{tecnico}} </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto mb-3 ">
  <div class="card mx-auto">
    <div class="card-body">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Inspeccion Actual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Inspecciones Anteriores</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row mx-auto div-padre mb-4" id="duplicater">
            <div class="col">
              <div class="row">
                <div class="col-5">
                  <p>Item</p>
                  <input id="item" style='max-width: 150px;' class="form-group item" placeholder="Seleccionar Item"
                    list="item-list" name="item" autocomplete="off">
                  <datalist id="item-list">
                    <option value="Frenos"></option>
                    <option value="Motor"></option>
                    <option value="Batería"></option>
                    <option value="Suspensión"></option>
                    <option value="Limpiadores"></option>
                  </datalist>
                </div>
                <div class="col">
                  <p>Estado:</p>
                  <div id="status" class="btn-group btn-group-toggle" data-toggle="buttons">
                    <!--
                    <label class="btn btn-success active">
                      <input type="radio" name="options" autocomplete="off" value="Buen Estado">
                      Buen Estado
                    </label>
                    -->
                    <label class="btn btn-warning">
                      <input type="radio" name="options" autocomplete="off" value="Recomendado">
                      Recomendado
                    </label>
                    <label class="btn btn-danger">
                      <input type="radio" name="options" autocomplete="off" value="Inmediato">
                      Inmediato
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  Comentarios
                  <input id="coment" style="width: 100%" class="form-group comentario" type="text" name="comentario"
                    placeholder="Escribir Comentarios" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-4">
              <p>Evidencias:</p>
              {% load jfutags %}
              {% jfu 'seguimientolite/upload.html' %}
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <table class="table table table-hover mx-auto">
            <thead class="thead-dark text-center">
              <tr>
                <th scope="col">Tecnico</th>
                <th scope="col">Item</th>
                <th scope="col">Estado</th>
                <th scope="col">Comentarios</th>
                <th scope="col">Fecha de Inspeccion</th>
              </tr>
            </thead>
            <tbody>
              {% for fila in filas %}
              <tr>
                <td>{{fila.tecnico}}</td>
                <td>{{fila.item}}</td>
                <td>{{fila.estado}}</td>
                <td>{{fila.comentarios}}</td>
                <td>{{fila.fecha_hora_fin}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row container mx-auto text-center">
        <div class="col-6 mx-auto">
          <button type="button" class="btn btn-primary mt-3" onclick="duplicate()">
            <i class="fas fa-plus"></i>
            Agregar item
          </button>
          <button type="button" onclick="guardar()" class="btn btn-success rounded mt-3">
            <i class="fas fa-save"></i>
            Guardar Inspeccion
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var i = 0;
  var original = document.getElementById('duplicater');
  var file_origin = document.getElementById('file-file');
  var item_origin = document.getElementById('item');
  var status_origin = document.getElementById("status");
  var comentario_origin = document.getElementById('coment');

  function duplicate() {
    var clone = original.cloneNode(true); // "deep" clone
    clone.id = "duplicater" + ++i;
    var clone_file = file_origin.cloneNode(true);
    var anterior = file_origin.id;
    file_origin.id = "file-file" + i;
    var clone_item = item_origin.cloneNode(true);
    item_origin.id = "item" + i;
    var clone_status = status_origin.cloneNode(true);
    status_origin.id = "status" + i;
    status_origin.getElementsByTagName("input")[0].setAttribute("name", "options" + i);
    status_origin.getElementsByTagName("input")[1].setAttribute("name", "options" + i);
    var clone_comentario = comentario_origin.cloneNode(true);
    comentario_origin.id = "coment" + i;
    original.parentNode.appendChild(clone);
    limpiar(anterior);
  }

  function limpiar (id){
    $("#"+id).find(".files").empty();
  }

  function guardar() {
    /*1. recorrer y ver cuantos divs existen
      2. para cada div extraer los elementos y colocarlos en un diccionario*/
    var data = {};
    var data_id = {};
    var data_media = new Array();
    var lista_nombres = {};

    var numero_divs = document.getElementsByClassName("row mx-auto div-padre").length;



    for (i = 0; i <= numero_divs - 1; i++) {

      if (i == 0) {

        var item = document.getElementById("item").value;
        //var status = document.getElementById("status").value;
        var status_list = document.getElementById("status").getElementsByTagName("label");
        for (var e = 0, l = status_list.length; e < l; e++) {
          var radio = status_list[e].getElementsByTagName("input")[0];
          if (radio.checked) {
            var status = radio.value;
          }
        }
        console.log(status);
        var comentario = document.getElementById("coment").value;
        var media = document.getElementById("file-file");
        var media_data = media.getElementsByTagName("table")[0];
        var media_name = media_data.getElementsByTagName("p");
        var tecnico = document.getElementById("tecnico").value;

        data.item = item;
        data.estado = status;
        data.comentario = comentario;
        data.tecnico = tecnico;

        for (j = 0; j <= media_name.length - 1; j++) { //para cada parrafo en la tabla media obtiene el nombre
          lista_nombres[j] = media_name[j].innerText
          console.log(lista_nombres[j]);
        }

        data.media = lista_nombres;
        data.numEvidencia = media_name.length
        console.log(data);


        $.ajax({
          type: 'post',
          data: data,
          cache: false,
          headers: { "X-CSRFToken": $.cookie('csrftoken') },
        });

      } else {
        var item = document.getElementById("item" + i).value;
        //var status = document.getElementById("status" + i).value;
        var status_list = document.getElementById("status" + i).getElementsByTagName("label");
        for (var es = 0, k = status_list.length; es < k; es++) {
          var radio = status_list[es].getElementsByTagName("input")[0];
          if (radio.checked) {
            var status = radio.value;
          }
        }
        var comentario = document.getElementById("coment" + i).value;
        var media = document.getElementById("file-file" + i);
        var media_data = media.getElementsByTagName("table")[0];
        var media_name = media_data.getElementsByTagName("p");
        var tecnico = document.getElementById("tecnico").value;

        data.tecnico = tecnico;
        data.item = item;
        data.estado = status;
        data.comentario = comentario;


        for (z = 0; z <= media_name.length - 1; z++) {
          lista_nombres[z] = media_name[z].innerText
          console.log(lista_nombres[z]);
        }

        data.media = lista_nombres;
        data.numEvidencia = media_name.length
        console.log(data);

        $.ajax({
          type: 'post',
          data: data,
          cache: false,
          headers: { "X-CSRFToken": $.cookie('csrftoken') },
        });



      }
    }
  };
</script>
{% endblock %}