<!doctype html>
<html lang="en">
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap-4.4.1/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome-5.12.0/css/all.css' %}">
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <style>
    .card {
      border-radius: .70rem ! important;
      /*border-color: #b9b9b9;*/
    }

    .table {
      border-radius: .70rem ! important;
      border-color: #b9b9b9;
    }

    .last {
      border-radius: .70rem ! important;
    }

    .round {
      border-radius: .70rem ! important;
      /*border-color: #b9b9b9;*/
    }

    .switch {
      font-size: 1rem;
      position: relative;
    }

    .switch input {
      position: absolute;
      height: 1px;
      width: 1px;
      background: none;
      border: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      overflow: hidden;
      padding: 0;
    }

    .switch input+label {
      position: relative;
      min-width: calc(calc(2.375rem * 0.8) * 2);
      border-radius: calc(2.375rem * 0.8);
      height: calc(2.375rem * 0.8);
      line-height: calc(2.375rem * 0.8);
      display: inline-block;
      cursor: pointer;
      outline: none;
      user-select: none;
      vertical-align: middle;
      text-indent: calc(calc(calc(2.375rem * 0.8) * 2) + 0.5rem);
    }

    .switch input+label::before,
    .switch input+label::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: calc(calc(2.375rem * 0.8) * 2);
      bottom: 0;
      display: block;
    }

    .switch input+label::before {
      right: 0;
      background-color: #dee2e6;
      border-radius: calc(2.375rem * 0.8);
      transition: 0.2s all;
    }

    .switch input+label::after {
      top: 2px;
      left: 2px;
      width: calc(calc(2.375rem * 0.8) - calc(2px * 2));
      height: calc(calc(2.375rem * 0.8) - calc(2px * 2));
      border-radius: 50%;
      background-color: white;
      transition: 0.2s all;
    }

    .switch input:checked+label::before {
      background-color: #08d;
    }

    .switch input:checked+label::after {
      margin-left: calc(2.375rem * 0.8);
    }

    .switch input:focus+label::before {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
    }

    .switch input:disabled+label {
      color: #868e96;
      cursor: not-allowed;
    }

    .switch input:disabled+label::before {
      background-color: #e9ecef;
    }

    .switch.switch-sm {
      font-size: 0.875rem;
    }

    .switch.switch-sm input+label {
      min-width: calc(calc(1.9375rem * 0.8) * 2);
      height: calc(1.9375rem * 0.8);
      line-height: calc(1.9375rem * 0.8);
      text-indent: calc(calc(calc(1.9375rem * 0.8) * 2) + 0.5rem);
    }

    .switch.switch-sm input+label::before {
      width: calc(calc(1.9375rem * 0.8) * 2);
    }

    .switch.switch-sm input+label::after {
      width: calc(calc(1.9375rem * 0.8) - calc(2px * 2));
      height: calc(calc(1.9375rem * 0.8) - calc(2px * 2));
    }

    .switch.switch-sm input:checked+label::after {
      margin-left: calc(1.9375rem * 0.8);
    }

    .switch.switch-lg {
      font-size: 1.25rem;
    }

    .switch.switch-lg input+label {
      min-width: calc(calc(3rem * 0.8) * 2);
      height: calc(3rem * 0.8);
      line-height: calc(3rem * 0.8);
      text-indent: calc(calc(calc(3rem * 0.8) * 2) + 0.5rem);
    }

    .switch.switch-lg input+label::before {
      width: calc(calc(3rem * 0.8) * 2);
    }

    .switch.switch-lg input+label::after {
      width: calc(calc(3rem * 0.8) - calc(2px * 2));
      height: calc(calc(3rem * 0.8) - calc(2px * 2));
    }

    .switch.switch-lg input:checked+label::after {
      margin-left: calc(3rem * 0.8);
    }

    .switch+.switch {
      margin-left: 1rem;
    }

    .row-flex {
      display: flex;
    }

    .col-flex {
      flex: 1;
      padding: 1em;

    }
  </style>
  {% load webpush_notifications %}
  {% webpush_header %}
  <title>Capnet | Cliente</title>
  {% comment %}
  {% endcomment %}
  <style>
    .pdfobject-container { height: 30rem; border: 1rem solid rgba(0,0,0,.1); }
  </style>
</head>
{% load static %}

<body class="bg-light">
  <nav class="navbar shadow-sm bg-light sticky-top mb-3" style="color:#4D4D4D;">
    <a class="navbar-brand">
      Cotización En Línea
    </a>
    <img src="{% static "img/logo_citroen.png" %}" width="35" class="d-block-lg p-0 mt-0 mb-0 align-top pull-right" alt="">
  </nav>

  <div class="container mb-3 mx-auto">
    <div class="card-deck mb-1">
      <div class="card shadow">
        <div class="card-header round border-bottom-0" style="background-color: white ; color: #3147D7;">
          <h6>Resumen de la inspección</h6>
        </div>
        <div class="card-body">
          <div class="row mb-2 mt-0">
            <div class="col">
              <h6 class="mb-0">Orden de Reparación:</h6>
              {{orden.no_orden}}
            </div>
            <div class="col">
              <h6 class="mb-0">Asesor:</h6>
              {{orden.asesor}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6 class="mt-2 mb-0">Vehículo:</h6>
              {{orden.vehiculo}}
            </div>
            <div class="col">
              <h6 class="mt-2 mb-0">Placas:</h6>
              {{orden.placas}}
            </div>
          </div>
          <h6 class="mt-3 mb-0">Hora de reporte:</h6>

        </div>
        <div class="container text-center mb-2">
        {% webpush_button %}
        </div>
      </div>
      <div class="card shadow">
        <div class="card-header round border-bottom-0 " style="background-color: white; color: #3147D7;">
          <h6>Resumen de Diagnóstico</h6>
        </div>
        <!--<div class="card-body">-->

        <div class="row row-flex mx-auto mt-0 mb-0">
          <div class="col col-flex mb-2 text-center">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#buen-estado-ev">
              <i class="fas fa-check-circle fa-2x rounded-circle mt-3"></i>
              <h4 class="mt-2">{{buen_estado}}</h4>
              <p class="mb-1">Buenas Condiciones</p>
            </button>
            {% comment %}
            <div class="border round" style="background-color: #CAEF8B;">
              <i class="fas fa-check-circle fa-2x rounded-circle mt-3"></i>
              <h5 class="mt-2">{{buen_estado}}</h5>
              <p class="mb-1">Buenas Condiciones</p>
            </div>
            {% endcomment %}
          </div>
          <div class="col col-flex mb-2 text-center">
            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#recomendado-ev">
              <i class="fas fa-info-circle fa-2x rounded-circle mt-3"></i>
              <h4 class="mt-2">{{recomendado}}</h4>
              <p class="mb-1">Reparación Sugerida</p>
            </button>
            {% comment %}
            <div class="border round" style="background-color: #FFF383;">
              <i class="fas fa-info-circle fa-2x rounded-circle mt-3"></i>
              <h5 class="mt-2">{{recomendado}}</h5>
              <p class="mb-1">Reparación Sugerida</p>
            </div>
            {% endcomment %}
          </div>
          <div class="col col-flex mb-2 text-center">
            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#urgente-ev">
              <i class="fas fa-exclamation-triangle fa-2x rounded-circle mt-3"></i>
              <h4 class="mt-2">{{urgente}}</h4>
              <p class="mb-1">Reparación Urgente</p>
            </button>
            {% comment %}
            <div class="border round" style="background-color: #FFA28D;">
              <i class="fas fa-exclamation-triangle fa-2x rounded-circle mt-3"></i>
              <h5 class="mt-2">{{urgente}}</h5>
              <p class="mb-1">Reparación Inmediata</p>
            </div>
            {% endcomment %}
          </div>
        </div>

        <!--
          <div class="card-columns">
            <div class="card text-center no-gutters" style="background-color: #CAEF8B;">
              <i class="fas fa-check-circle fa-2x rounded-circle mt-3"></i>
              <h5 class="mt-2">4</h5>
              <p class="mb-1">Buenas Condiciones</p>
            </div>
            <div class="card text-center no-gutters" style="background-color: #FFF383;">
              <i class="fas fa-info-circle fa-2x rounded-circle mt-3"></i>
              <h5 class="mt-2">2</h5>
              <p class="mb-1">Reparación Sugerida</p>
            </div>
            <div class="card text-center" style="background-color: #FFA28D;">
              <i class="fas fa-exclamation-triangle fa-2x rounded-circle mt-3"></i>
              <h5 class="mt-2">2</h5>
              <p class="mb-1">Reparación Inmediata</p>
            </div>
          </div>
          -->
      </div>
    </div>
  </div>
  <div class="container mx-auto text-center">
    <button type="button" class="btn btn-primary rounded-pill align-baseline mr-1" data-toggle="modal"
      data-target="#cotizacion">
      <i class="fas fa-clipboard-list fa-lg mr-1"></i>
      Ver Detalles de Cotización
    </button>
    <a class="btn btn-secondary rounded-pill align-baseline ml-1 mt-2 mb-3" role="button" href="/cliente/{{cliente}}">
      <i class="fas fa-comments fa-lg mr-1"></i>
      Chat con tu asesor
    </a>
    
  </div>

  <!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="cotizacion" tabindex="-1" role="dialog" aria-labelledby="cotizacion"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalles De Cotización</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Reparacion Urgente</h5>
          <table class="table mt-1 mb-1">
            <thead>
              <tr>
                <th scope="col">Refaccion</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Autorizar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>AMORTIGUADOR DERECHO</td>
                <td>$3,350.00</td>
                <td>
                  <span class="switch switch-sm mt-2">
                    <input type="checkbox" class="switch" id="switch-sm">
                    <label for="switch-sm">
                      <h6></h6>
                    </label>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <h5>Reparacion Sugerida</h5>
          <table class="table mt-1 mb-3">
            <thead>
              <tr>
                <th scope="col">Refaccion</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Autorizar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>AMORTIGUADOR DERECHO</td>
                <td>$3,350.00</td>
                <td>
                  <span class="switch switch-sm mt-2">
                    <input type="checkbox" class="switch" id="switch-sm2">
                    <label for="switch-sm2">
                      <h6></h6>
                    </label>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          {% if pdf.nombre_pdf %}
          {% comment %}
          <iframe src="/media/{{pdf.nombre_pdf}}" width="100%" height="400px">
          </iframe>
          {% endcomment %}
          <div id="cotizacion" class="mx-auto text-center"></div>
          <script>
            var options = {
            fallbackLink: "<b><a href='[url]'>Ver PDF Cotización</b></p>"
            }; 
            PDFObject.embed("/media/{{pdf.nombre_pdf}}", "#cotizacion", options);
          </script>
          
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="buen-estado-ev" tabindex="-1" role="dialog" aria-labelledby="buen-estado-ev-label"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="buen-estado-ev-label">Detalles De Cotización</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% if buen_estado_ev %}
          <div class="bd-example">
            <div id="buen-estado-ev-cap" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                {% for ev in buen_estado_ev %}
                <li data-target="#buen-estado-ev-cap" data-slide-to="0" class=""></li>
                {% endfor %}
              </ol>
              <div class="carousel-inner">
                {% for ev in buen_estado_ev %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" href="/media/{{ev.evidencia}}">
                  <img src="/media/{{ev.evidencia}}" href="/media/{{ev.evidencia}}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>{{ev.item}}</h5>

                  </div>
                </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#buen-estado-ev-cap" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#buen-estado-ev-cap" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          {% else %}
          <h5 class="mx-auto">No hay evidencias disponibles</h5>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="recomendado-ev" tabindex="-1" role="dialog" aria-labelledby="recomendado-ev-label"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recomendado-ev-label">Detalles De Cotización</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% if recomendado_ev %}
          <div class="bd-example">
            <div id="recomendado-ev-cap" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                {% for ev in recomendado_ev %}
                <li data-target="#recomendado-ev-cap" data-slide-to="0" class=""></li>
                {% endfor %}
              </ol>
              <div class="carousel-inner">
                {% for ev in recomendado_ev %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" href="/media/{{ev.evidencia}}">
                  <img src="/media/{{ev.evidencia}}" href="/media/{{ev.evidencia}}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>{{ev.item}}</h5>

                  </div>
                </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#recomendado-ev-cap" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#recomendado-ev-cap" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          {% else %}
          <h5 class="mx-auto">No hay evidencias disponibles</h5>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="urgente-ev" tabindex="-1" role="dialog" aria-labelledby="urgente-ev-label"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="urgente-ev-label">Detalles De Cotización</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {% if urgente_ev %}
          <div class="bd-example">
            <div id="urgente-ev-cap" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                {% for ev in urgente_ev %}
                <li data-target="#urgente-ev-cap" data-slide-to="0" class=""></li>
                {% endfor %}
              </ol>
              <div class="carousel-inner">
                {% for ev in urgente_ev %}
                <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" href="/media/{{ev.evidencia}}">
                  <img src="/media/{{ev.evidencia}}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>{{ev.item}}</h5>

                  </div>
                </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#urgente-ev-cap" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#urgente-ev-cap" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          {% else %}
          <h5 class="mx-auto">No hay evidencias disponibles</h5>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'bootstrap-4.4.1/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.cookie.min.js' %}"></script>
</body>

</html>