{% extends 'seguimientolite/base.html' %}
{% block content %}
{% load static %}
<div class="container mx-auto">
  <div class="card mb-3 mx-auto">
    <div class="card-body">
      <h5>Orden de Servicio: {{orden.no_orden}}</h5>
      <h6>Placa: {{orden.placas}}</h6>
      <h6>VIN: {{orden.vin}}</h6>
      <h6>Asesor: {{orden.asesor}}</h6>
      <button type="button mx-auto" class="btn btn-outline-info" data-toggle="modal"
        data-target="#evidencia">
        <i class="fas fa-images"></i>
        Ver Evidencias
      </button>
    </div>
  </div>
  <div class="card mb-3 mx-auto">
    <div class="card-body">
      <table class="table table-stripped table-hover mx-auto">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Estado</th>
            <th scope="col">Comentarios</th>
            <th scope="col">Tecnico</th>
            <th scope="col">Hora de Reporte</th>
            <th scope="col">TOR</th>
          </tr>
        </thead>
        <tbody>
          {% for fila in filas %}
          <tr>
            <td>
              <p>{{fila.item}}</p>
            </td>
            <td>
              <p>{{fila.estado}}</p>
            </td>
            <td>
              <p>{{fila.comentarios}}</p>
            </td>
            <td>
              <p>{{fila.tecnico}}</p>
            </td>
            <td>
              <p>{{fila.fecha_hora_fin}}</p>
            </td>
            <td>
              <p>{{fila.num_tor}}</p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mb-3 mx-auto">
    <div class="card-body">
      {% comment %}
      <ul class="nav nav-pills" id="myTab" role="tablist">
        {% for numero in numeros_tor %}
        <li class="nav-item">
          <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" id="{{numero}}-tab" data-toggle="pill" href="#a{{numero}}" role="tab" aria-controls="a{{numero}}" aria-selected="{% if forloop.counter == 1 %}True{% else %}False{% endif %}">{{numero}}</a>
        </li>
        {% endfor %}
      </ul>
      <div class="tab-content" id="myTabContent">
        {% for numero in numeros_tor %}
        <div class="tab-pane fade {% if forloop.counter == 1 %}show active{% endif %}" id="a{{numero}}" role="tabpanel" aria-labelledby="{{numero}}-tab">
          {{numero}}
          <table class="table table-stripped table-hover mx-auto">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Numero de Pieza</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Descripcion 2</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio de Venta</th>
                <th scope="col">Monto</th>
                <th scope="col">Monto + IVA</th>
              </tr>
            </thead>
            <tbody>
              {% for query in refacciones.items %}
                {% if query.0.no_orden == numero %}
                  {% for refaccion in query %}
                  <tr>
                    <td>
                      <p>{{refaccion.no_field}}</p>
                    </td>
                    <td>
                      <p>{{refaccion.description}}</p>
                    </td>
                    <td>
                      <p>{{refaccion.description_2}}</p>
                    </td>
                    <td>
                      <p>{{refaccion.quantity}}</p>
                    </td>
                    <td>
                      <p>{{refaccion.unit_price}}</p>
                    </td>
                    <td>
                      <p>{{refaccion.amount}}</p>
                    </td>
                    <td>
                      <p>{{refaccion.amount_including_vat}}</p>
                    </td>
                  </tr>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>
      {% endcomment %}
      <table class="table table-stripped table-hover mx-auto">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Numero de Pieza</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Descripcion 2</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio de Venta</th>
            <th scope="col">Monto</th>
            <th scope="col">Monto + IVA</th>
          </tr>
        </thead>
        <tbody>
          {% for refaccion in refacciones %}
          <tr>
            <td>
              <p>{{refaccion.no_field}}</p>
            </td>
            <td>
              <p>{{refaccion.description}}</p>
            </td>
            <td>
              <p>{{refaccion.description_2}}</p>
            </td>
            <td>
              <p>{{refaccion.quantity}}</p>
            </td>
            <td>
              <p>{{refaccion.unit_price}}</p>
            </td>
            <td>
              <p>{{refaccion.amount}}</p>
            </td>
            <td>
              <p>{{refaccion.amount_including_vat}}</p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </div>
  </div>

</div>

<!-- Modal Evidencia-->
<div class="modal fade" id="evidencia" tabindex="-1" role="dialog" aria-labelledby="evidencia" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="evidencia">Evidencias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if filas_media %}
        <div class="bd-example">
          <div id="urgente-ev-cap" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for ev in filas_media %}
              <li data-target="#urgente-ev-cap" data-slide-to="0" class=""></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner">
              {% for ev in filas_media %}
              <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" href="/media/{{ev.evidencia}}">
                <img src="/media/{{ev.evidencia}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ev.item}}</h5>
                </div>
              </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#urgente-ev-cap" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#urgente-ev-cap" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        {% endif %}
        {% if filas_video %}
        {% for ev in filas_video %}
        <video class="mx-auto" width="320" height="240" controls>
          <source src="/media/{{ev.evidencia}}">
          Your browser does not support the video tag.
        </video>
        {% endfor %}
        {% endif %}
        
        {% if not filas_media and not filas_video %}
        <h5 class="mx-auto">No hay evidencias disponibles</h5>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}