{% extends 'seguimientolite/base.html' %}
{% block content %}
{% load static %}
<style>
</style>

<style>
  .container{
    max-width: 1400px;
  }
</style>
<div class="container mx-auto">
  <div class="card mb-3 mx-auto">
    <div class="card-body">
      <h5>Orden de Servicio: {{orden.no_orden}}</h5>
      <h6>Placa: {{orden.placas}}</h6>
      <h6>VIN: {{orden.vin}}</h6>
      <h6>Asesor: {{orden.asesor}}</h6>
      <button type="button mx-auto" class="btn btn-outline-info" data-toggle="modal"
        data-target="#evidencia">
        <i class="fas fa-images"></i>
        Ver Evidencias
      </button>
    </div>
  </div>
  {% if cotizados %}
  <div class="card mb-4 mx-auto">
    <div class="card-body">
      <table id="ref" class='table table-stripped table-hover border shadow table-sm mx-auto table-responsive-md'>
        <thead class="thead-dark">
          <tr  class="bg-dark text-white">
            <td class="text-center">Ítem</td>
            <td class="text-center">Cantidad</td>
            <td class="text-center">Nombre</td>
            <td class="text-center">No. Parte</td>
            <td class="text-center">Precio</td>
            <td class="text-center">Precio + IVA</td>
            <td class="text-center">Existencia</td>
            <td class="text-center">Localización</td>
            <td class="text-center">Hora de Captura</td>
          </tr>
        </thead>
        <tbody>
          {% for fila in cotizados %}
          <tr class="text-center">
            <td>
              {% ifchanged %}
              <p>{{fila.item}}</p>
              {% endifchanged %}
            </td>
            <td>
              <p>{{fila.cantidad}}</p>
            </td>
            <td>
              <p>{{fila.nombre}}</p>
            </td>
            <td>
              <p>{{fila.no_parte}}</p>
            </td>
            <td>
              <p>{{fila.precio}}</p>
            </td>
            <td>
              {{fila.precio_iva}}
            </td>
            <td>
              {{fila.existencia}}
            </td>
            <td>
              {{fila.localizacion}}
            </td>
            <td>
              {{fila.fecha_hora_fin}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
  <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
    <strong>Importante</strong> Recuerde usar puntos para separar los decimales, por ejemplo 20.5
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card mb-3 mx-autoo">
    <div class="card-body">
      {% for fila in filas %}
      <table class='ref table table-stripped border shadow table-hover table-sm mb-5 table-responsive-md mx-auto'>
        <tr class="bg-dark text-white">
          <td class="text-center">Ítem</td>
          <td class="text-center">Cantidad</td>
          <td class="text-center">Nombre</td>
          <td class="text-center">No. Parte</td>
          <td class="text-center">Precio</td>
          <td class="text-center">Precio + IVA</td>
          <td class="text-center">Existencia</td>
          <td class="text-center">Localización</td>
        </tr>
        <tr class='refaccion text-center'>
          <td class="item" rowspan="1">
            <div class="text-center"> 
              {% if fila.estado == 'Inmediato' %}
              <span class="badge badge-pill badge-danger ml-0">Inmediato</span>
              {% endif %}
              {% if fila.estado == 'Recomendado' %}
              <span class="badge badge-pill badge-warning ml-0">Recomendado</span>
              {% endif %}
              <b>{{fila.item}}</b>
              <button class="btn btn-outline-primary rounded-lg mx-auto btn-sm" onclick="agregartd(this.closest('table'))">
                <i class="fas fa-plus"></i>
              </button>
            </div>
            <div class="text-center">
              <p>{{fila.comentarios}}</p>
            </div>
          </td>
          <td><input class="mx-auto" type="text" style='max-width: 60px;'></input></td>
          <td><input class="mx-auto" type="text" style='max-width: 170px;'></input></td>
          <td><input class="mx-auto" type="text" style='max-width: 170px;'></input></td>
          <td class="total-td"><input class="mx-auto" type="text" style='max-width: 70px;'></input></td>
          <td></td>
          <td>
            <select class="custom-select mx-auto" style='max-width: 70px;'>
              <option selected>...</option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
          </td>
          <td>
            <select class="custom-select mx-auto" style='max-width: 130px;'>
              <option selected>...</option>
              <option value="Provincia">Provincia</option>
              <option value="Importacion">Importacion</option>
              <option value="B Central">B Central</option>
              <option value="Almacen">Almacen</option>
            </select>
          </td>
        </tr>
      </table>
      {% endfor %}
      <button type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
    </div>
  </div>
</div>


<div class="modal fade" id="evidencia" tabindex="-1" role="dialog" aria-labelledby="evidencia" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="evidencia">Evidencias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% if filas_media %}
        <div class="bd-example">
          <div id="urgente-ev-cap" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              {% for ev in filas_media %}
              <li data-target="#urgente-ev-cap" data-slide-to="0" class=""></li>
              {% endfor %}
            </ol>
            <div class="carousel-inner">
              {% for ev in filas_media %}
              <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" href="/media/{{ev.evidencia}}">
                <img src="/media/{{ev.evidencia}}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>{{ev.item}}</h5>
                </div>
              </div>
              {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#urgente-ev-cap" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#urgente-ev-cap" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        {% endif %}
        {% if filas_video %}
        {% for ev in filas_video %}
        <video class="mx-auto" width="320" height="240" controls>
          <source src="/media/{{ev.evidencia}}">
          Your browser does not support the video tag.
        </video>
        {% endfor %}
        {% endif %}
        
        {% if not filas_media and not filas_video %}
        <h5 class="mx-auto">No hay evidencias disponibles</h5>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<script>
  function agregartd(tabla) {
    const cuerpo = `<tr class='refaccion text-center'>
                      <td><button type="button" class="btn btn-outline-danger btn-sm rounded-lg mx-auto" onclick="eliminarow()"><i class="fas fa-minus"></i></button></td>
                      <td><input class="mx-auto" type="text" style='max-width: 60px;'></input></td>
                      <td><input class="mx-auto" type="text" style='max-width: 170px;'></input></td>
                      <td><input class="mx-auto" type="text" style='max-width: 170px;'></input></td>
                      <td class="total-td"><input class="mx-auto" type="text" style='max-width: 70px;'></input></td>
                      <td></td>
                      <td>
                        <select class="custom-select mx-auto" style='max-width: 70px;'>
                          <option selected>...</option>
                          <option value="Si">Si</option>
                          <option value="No">No</option>
                        </select>
                      </td>
                      <td>
                        <select class="custom-select mx-auto" style='max-width: 130px;'>
                          <option selected>...</option>
                          <option value="Provincia">Provincia</option>
                          <option value="Importacion">Importacion</option>
                          <option value="B Central">B Central</option>
                          <option value="Almacen">Almacen</option>
                        </select>
                      </td>
                    </tr>
    `;
    $(tabla).append(cuerpo); //hace append al codigo de arriba
    var tds = $(tabla).children('tbody').children('tr').length; //obtiene el numero de tds para modificar el rowspan
    console.log(tds - 1);
    $('#item1').attr('rowspan', tds - 1); //modifica el rowspan
    $("tr .total-td").each(function(index){
      $(this).keyup(function(){
        let precio = parseFloat((this).closest('tr').getElementsByTagName("input")[3].value);
        let cantidad = parseFloat((this).closest('tr').getElementsByTagName("input")[0].value);
        let iva = parseFloat({{iva}});
        let precio_iva = parseFloat(precio * cantidad * iva).toFixed(2);
        (this).closest('tr').getElementsByTagName("td")[5].innerText = precio_iva;
        console.log(precio);
        console.log(precio_iva);
        console.log({{iva}});
      });
    }); 
  };

  function eliminarow() {
    $('.ref').on('click', 'button[type="button"]', function (e) {
      $(this).closest('tr').remove();
      var tds = $('#ref').children('tbody').children('tr').length;
      console.log(tds - 1);
      $(this, '.item').attr('rowspan', tds - 1);
      //elimina el tr mas cercano y recalcula el rowspan
    })
  };

  function guardar() {
    var items = document.getElementsByClassName('ref')
    for (let index = 0; index < items.length; index++) {
      var refacciones = items[index].getElementsByClassName('refaccion');
      for (let ind = 0; ind < refacciones.length; ind++) {
        let data = {};
        data.item = refacciones[0].getElementsByTagName('td')[0].getElementsByTagName('b')[0].innerText;
        data.cantidad = refacciones[ind].getElementsByTagName('input')[0].value;
        data.nombre = refacciones[ind].getElementsByTagName('input')[1].value;
        data.noparte = refacciones[ind].getElementsByTagName('input')[2].value;
        data.precio = refacciones[ind].getElementsByTagName('input')[3].value;
        data.precioiva = refacciones[ind].getElementsByTagName('td')[5].innerText;
        data.existencia = refacciones[ind].getElementsByTagName('select')[0].value;
        data.localizacion = refacciones[ind].getElementsByTagName('select')[1].value;

        $.ajax({
          type: 'post',
          data: data,
          cache: false,
          headers: { "X-CSRFToken": $.cookie('csrftoken') },
        });
      }
    }
    alert('Refacciones Guardadas')
    location.reload(forceGet=true);
  };

  $(document).ready(function(){
  //iterate through each textboxes and add keyup
  //handler to trigger sum event
  $("tr .total-td").each(function(index){
    $(this).keyup(function(){
      let precio = parseFloat((this).closest('tr').getElementsByTagName("input")[3].value);
      let cantidad = parseFloat((this).closest('tr').getElementsByTagName("input")[0].value);
      let iva = parseFloat({{iva}}, 10);
      let precio_iva = parseFloat(precio * cantidad * iva).toFixed(2);
      (this).closest('tr').getElementsByTagName("td")[5].innerText = precio_iva;
      console.log(precio);
      console.log(precio_iva);
      console.log({{iva}});
    });
  });
  });
</script>
{% endblock %}