{% extends 'seguimientolite/base.html' %}
{% block navbar %}
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Tecnico</a>
</nav>
{% endblock%}

{% block content %}
<div class="container mx-auto mb-3">
  <div class="card">
    <div class="card-body">
      <h5><b>Orden de Servicio:</b> {{info.no_orden}}</h5>
      <div class="row mx-auto">
        <div class="col-md">
          <p>Asesor: {{info.asesor}}</p>
        </div>
        <div class="col-md">
          <p>VIN: {{info.vin}}</p>
        </div>
        <div class="col-md">
          <p>PLACA: {{info.placas}}</p>
        </div>
        {% comment %}
        <div class="col">
          <p>Numero de TOR</p>
          <input id="num_tor" style="max-width: 200px;" class="form-group" type="text" name="num_tor"
            placeholder="Ingrese el numero TOR" autocomplete="off">
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto mb-3 ">
  <div class="card mx-auto">
    <div class="card-body">
      <div class="row mx-auto">
        <div class="col border-right">
          <h5>Presion de las llantas</h5>
          <div class="row">
            Presion delantera:
            <div class="col">
              Der. <input id="presion-del-der" value="{{calidad.presion_del_derecha}}" type="text" style='max-width: 70px;' class="form-group" placeholder="" autocomplete="off">Psi
            </div>
            <div class="col">
              Izq. <input id="presion-del-izq" value="{{calidad.presion_del_izquierda}}" type="text" style='max-width: 70px;' class="form-group" placeholder="" autocomplete="off">Psi
            </div>
          </div>
          <div class="row">
            Presion trasera:
            <div class="col">
              Der. <input id="presion-tras-der" value="{{calidad.presion_tras_derecha}}" type="text" style='max-width: 70px;' class="form-group" placeholder="" autocomplete="off">Psi
            </div>
            <div class="col">
              Izq. <input id="presion-tras-izq" value="{{calidad.presion_tras_izquierda}}" type="text" style='max-width: 70px;' class="form-group" placeholder="" autocomplete="off">Psi
            </div>
          </div>
          <div class="row">
            Llanta de repuesto: <input id="presion-repuesto" value="{{calidad.presion_refaccion}}" type="text" style='max-width: 70px;' class="form-group" placeholder="" autocomplete="off">Psi
          </div>
        </div>
        <div class="col">
          <h5>Desgaste de las llantas</h5>
          <div class="row ml-2">
            Delantera:
            <div class="col">
              Der. <input list="desgaste-list" id="desgaste-del-der" value="{{calidad.estado_del_derecha}}" type="text" style='max-width: 70px;' class="form-group" placeholder="" autocomplete="off">
            </div>
            <div class="col">
              Izq. <input list="desgaste-list" id="desgaste-del-izq" value="{{calidad.estado_del_izquierda}}" type="text" style='max-width: 70px;' class="form-group" placeholder="" autocomplete="off">
            </div>
          </div>
          <div class="row ml-2">
            Trasera:
            <div class="col">
              Der. <input list="desgaste-list" id="desgaste-tras-der" value="{{calidad.estado_tras_derecha}}" type="text" style='max-width: 70px;' class="form-group" placeholder="" autocomplete="off">
            </div>
            <div class="col">
              Izq. <input list="desgaste-list" id="desgaste-tras-izq" value="{{calidad.estado_tras_izquierda}}" type="text" style='max-width: 70px;' class="form-group" placeholder="" autocomplete="off">
            </div>
          </div>
          <datalist id="desgaste-list">
            <option value="25"></option>
            <option value="50"></option>
            <option value="75"></option>
            <option value="100"></option>
          </datalist>
        </div>
      </div>
    </div>
  </div>
  <div class="card mx-auto">
    <div class="card-body">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Revisión Actual</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Revisión Anterior</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row mx-auto div-padre mb-3" id="duplicater">
            <div class="col">
              <button type="button" class="btn btn-danger" onclick="quitar(this.closest('.div-padre'))">
              <i class="fas fa-trash-alt"></i>
              Quitar
            </button>
              <div class="row">
                <div class="col-sm-5 mt-2">
                  <p>Item</p>
                  <input id="item" style='max-width: 150px;' class="form-group item" placeholder="Seleccionar Item"
                    list="item-list" name="item" autocomplete="off">
                  <datalist id="item-list">
                    {% for item in lista_items %}
                    <option value="{{item}}"></option>
                    {% endfor %}
                  </datalist>
                </div>
                <div class="col-sm mt-2">
                  <p>Estado:</p>
                  <div id="status" class="btn-group btn-group-toggle" data-toggle="buttons">
                    <!--
                    <label class="btn btn-success active">
                      <input type="radio" name="options" autocomplete="off" value="Buen Estado">
                      Buen Estado
                    </label>
                    -->
                    <label class="btn btn-warning">
                      <input type="radio" name="options" autocomplete="off" value="Recomendado">
                      Recomendado
                    </label>
                    <label class="btn btn-danger">
                      <input type="radio" name="options" autocomplete="off" value="Inmediato">
                      Inmediato
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm mt-2">
                  Comentarios
                  <input id="coment" style="width: 100%" class="form-group comentario" type="text" name="comentario"
                    placeholder="Escribir Comentarios" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <p>Evidencias:</p>
              {% load jfutags %}
              {% jfu 'seguimientolite/upload.html' %}
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <table class="table table table-hover table-responsive-md mx-auto">
            <thead class="thead-dark text-center">
              <tr>
                <th scope="col">Tecnico</th>
                <th scope="col">Item</th>
                <th scope="col">Estado</th>
                <th scope="col">Comentarios</th>
                <th scope="col">Fecha de Inspeccion</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for fila in filas %}
              <tr>
                <td>{{fila.tecnico}}</td>
                <td>{{fila.item}}</td>
                <td>
                  <select class="form-control estado_edit" disabled>
                    <option selected value="{{fila.estado}}">{{fila.estado}}</option>
                    <option value="Buen Estado">Buen Estado</option>
                  </select>
                </td>
                <td>{{fila.comentarios}}</td>
                <td>{{fila.fecha_hora_fin}}</td>
                <td>
                  <button type="button" class="btn btn-primary" onclick="edit(this.closest('td'))">
                    <i class="fas fa-edit"></i>
                    Editar
                  </button>
                  <button type="button" class="btn btn-success" onclick="save(this.closest('tr'))" style="display: none;">
                    <i class="fas fa-save"></i>
                    Guardar
                  </button>
                  <button type="button" class="btn btn-secondary"  onclick="cancel(this.closest('td'))" style="display: none;">
                    <i class="fas fa-window-close"></i>
                    Cerrar
                  </button>
                  <button type="button" class="btn btn-danger" onclick="remove(this.closest('tr'))" style="display: none;">
                    <i class="fas fa-trash-alt"></i>
                    Borrar
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="row container mx-auto text-center">
        <div class="col-sm-6 mx-auto">
          <button type="button" class="btn btn-primary mt-3" onclick="duplicate()">
            <i class="fas fa-plus"></i>
            Agregar item
          </button>
          <button type="button" onclick="guardar()" class="btn btn-success rounded mt-3">
            <i class="fas fa-save"></i>
            Guardar Inspeccion
          </button>
        </div>
      </div>
    </div>
  </div>

  
</div>

<script>
  var i = 0;
  var original = document.getElementById('duplicater');
  var file_origin = document.getElementById('file-file');
  var item_origin = document.getElementById('item');
  var status_origin = document.getElementById("status");
  var comentario_origin = document.getElementById('coment');
  //var opciona = document.getElementById('optiona');
  //var opcionb = document.getElementById('optionb');
  //var opcionc = document.getElementById('optionc');
  //var radios = document.getElementsByName('options');
  
  $(document).ready(original.getElementsByTagName('button')[0].style.display = 'none')

  function quitar(divpadre) {
    divpadre.parentNode.removeChild(divpadre);
  }

  function edit(td) {
    td.getElementsByClassName('btn-primary')[0].style.display = 'none';
    td.getElementsByClassName('btn-success')[0].style.display = 'block';
    td.getElementsByClassName('btn-secondary')[0].style.display = 'block';
    td.getElementsByClassName('btn-danger')[0].style.display = 'block';

    td.closest('tr').getElementsByTagName('select')[0].disabled = false;
  }

  function cancel(td) {
    td.getElementsByClassName('btn-primary')[0].style.display = 'block';
    td.getElementsByClassName('btn-success')[0].style.display = 'none';
    td.getElementsByClassName('btn-secondary')[0].style.display = 'none';
    td.getElementsByClassName('btn-danger')[0].style.display = 'none';

    td.closest('tr').getElementsByTagName('select')[0].disabled = true;
  }

  function save(tr) {
    data = {}
    data.item = tr.getElementsByTagName('td')[1].innerText;
    data.estado = tr.getElementsByTagName('select')[0].value;
    data.hora = tr.getElementsByTagName('td')[4].innerText;
    data.update_one = true;

    $.ajax({
      type: 'post',
      data: data,
      cache: false,
      headers: { "X-CSRFToken": $.cookie('csrftoken') },
    });
    alert('Estado Actualizado')
  }

  function remove(tr) {
    data = {}
    data.item = tr.getElementsByTagName('td')[1].innerText;
    data.remove_one = true;
    $.ajax({
      type: 'post',
      data: data,
      cache: false,
      headers: { "X-CSRFToken": $.cookie('csrftoken') },
    });
    alert('Item Removido')
  }

  function duplicate() {
    var clone = original.cloneNode(true); // "deep" clone
    clone.id = "duplicater" + ++i;
    var clone_file = file_origin.cloneNode(true);
    var anterior = file_origin.id;
    file_origin.id = "file-file" + i;
    var clone_item = item_origin.cloneNode(true);
    item_origin.id = "item" + i;
    var clone_status = status_origin.cloneNode(true);
    status_origin.id = "status" + i;
    status_origin.getElementsByTagName("input")[0].setAttribute("name", "options" + i);
    status_origin.getElementsByTagName("input")[1].setAttribute("name", "options" + i);
    var clone_comentario = comentario_origin.cloneNode(true);
    comentario_origin.id = "coment" + i;
    clone.getElementsByClassName('item')[0].value = "";
    clone.getElementsByClassName('comentario')[0].value = "";
    original.parentNode.appendChild(clone);
    clone.getElementsByTagName('button')[0].style.display = 'block'
    limpiar(anterior);
  }
  
  function limpiar (id){
    $("#"+id).find(".files").empty();
  }

  function guardar() {

    /*1. recorrer y ver cuantos divs existen
      2. para cada div extraer los elementos y colocarlos en un diccionario*/

    var data = {};
    var data_id = {};
    var data_media = new Array();
    var lista_nombres = {};
    var numero_divs = document.getElementsByClassName("row mx-auto div-padre").length;

    for (i = 0; i <= numero_divs - 1; i++) {
      if (i == 0) {
        var item = document.getElementById("item").value;
        var status_list = document.getElementById("status").getElementsByTagName("label");
        for (var e = 0, l = status_list.length; e < l; e++) {
          var radio = status_list[e].getElementsByTagName("input")[0];
          if (radio.checked) {
            var status = radio.value;
          }
        }
        console.log(status);
        var comentario = document.getElementById("coment").value;
        var media = document.getElementById("file-file");
        var media_data = media.getElementsByTagName("table")[0];
        var media_name = media_data.getElementsByTagName("p");

        //data.num_tor = document.getElementById('num_tor').value;
        data.item = item;
        data.estado = status;
        data.comentario = comentario;

        data.presion_del_izquierda = document.getElementById('presion-del-izq').value;
        data.presion_del_derecha = document.getElementById('presion-del-der').value;
        data.presion_tras_izquierda = document.getElementById('presion-tras-izq').value;
        data.presion_tras_derecha = document.getElementById('presion-tras-der').value;
        data.presion_refaccion = document.getElementById('presion-repuesto').value;
        data.estado_del_izquierda = document.getElementById('desgaste-del-izq').value;
        data.estado_del_derecha = document.getElementById('desgaste-del-der').value;
        data.estado_tras_izquierda = document.getElementById('desgaste-tras-izq').value;
        data.estado_tras_derecha = document.getElementById('desgaste-tras-der').value;

        for (j = 0; j <= media_name.length - 1; j++) { //para cada parrafo en la tabla media obtiene el nombre
          lista_nombres[j] = media_name[j].innerText
          console.log(lista_nombres[j]);
        }

        data.media = lista_nombres;
        data.numEvidencia = media_name.length
        console.log(data);

        $.ajax({
          type: 'post',
          data: data,
          cache: false,
          headers: { "X-CSRFToken": $.cookie('csrftoken') },
        });
      } else {
        var item = document.getElementById("item" + i).value;
        //var status = document.getElementById("status" + i).value;
        var status_list = document.getElementById("status" + i).getElementsByTagName("label");
        for (var es = 0, k = status_list.length; es < k; es++) {
          var radio = status_list[es].getElementsByTagName("input")[0];
          if (radio.checked) {
            var status = radio.value;
          }
        }
        var comentario = document.getElementById("coment" + i).value;
        var media = document.getElementById("file-file" + i);
        var media_data = media.getElementsByTagName("table")[0];
        var media_name = media_data.getElementsByTagName("p");

        //data.num_tor = document.getElementById('num_tor').value
        data.item = item;
        data.estado = status;
        data.comentario = comentario;

        data.presion_del_izquierda = document.getElementById('presion-del-izq').value;
        data.presion_del_derecha = document.getElementById('presion-del-der').value;
        data.presion_tras_izquierda = document.getElementById('presion-tras-izq').value;
        data.presion_tras_derecha = document.getElementById('presion-tras-der').value;
        data.presion_refaccion = document.getElementById('presion-repuesto').value;
        data.estado_del_izquierda = document.getElementById('desgaste-del-izq').value;
        data.estado_del_derecha = document.getElementById('desgaste-del-der').value;
        data.estado_tras_izquierda = document.getElementById('desgaste-tras-izq').value;
        data.estado_tras_derecha = document.getElementById('desgaste-tras-der').value;

        for (z = 0; z <= media_name.length - 1; z++) {
          lista_nombres[z] = media_name[z].innerText
          console.log(lista_nombres[z]);
        }

        data.media = lista_nombres;
        data.numEvidencia = media_name.length
        console.log(data);

        $.ajax({
          type: 'post',
          data: data,
          cache: false,
          headers: { "X-CSRFToken": $.cookie('csrftoken') },
        });
      }
    }
    alert("Inspeccion Guardada Exitosamente");
    window.close ();
  };
</script>
{% endblock %}